---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/ncaafb-t1/teams/ARI/roster.json?api_key=8nxbfm6k546m7mscnmaf9ejh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-130.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '145'
      X-Via:
      - S3-Proxy
    body:
      encoding: UTF-8
      string: '{"id":"ARI","name":"Wildcats","market":"Arizona","players":[{"id":"1b80a045-d43e-4285-b1e5-0879d15f87ad","name_full":"Levi
        Walton","name_first":"Levi","name_last":"Walton","name_abbr":"L.Walton","birth_place":"North
        Fort Myers, FL, USA","height":75,"weight":290,"position":"OL","jersey_number":55,"status":"ACT","experience":"JR"},{"id":"4b28daa3-ace8-4ef8-8d33-ffec284970fe","name_full":"Michael
        Eletise","name_first":"Michael","name_last":"Eletise","name_abbr":"M.Eletise","birth_place":"Honolulu,
        HI, USA","height":75,"weight":318,"position":"OT","jersey_number":75,"status":"ACT","experience":"FR"},{"id":"e85a0497-0e8c-4805-b0b9-ec5d2bab045b","name_full":"Luca
        Bruno","name_first":"Luca","name_last":"Bruno","name_abbr":"L.Bruno","birth_place":"Oak
        Park, CA, USA","height":76,"weight":295[...]
