---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/ncaafb-t1/teams/ARI/2016/reg/statistics.json?api_key=8nxbfm6k546m7mscnmaf9ejh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-127.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '150'
      X-Via:
      - S3-Proxy
    body:
      encoding: UTF-8
      string: '{"id":"ARI","name":"Wildcats","market":"Arizona","season":{"season":2016,"season_type":"REG"},"statistics":{"two_point_conversion":{"att":3,"pass":0,"rush":0,"rec":0,"failed":3},"touchdowns":{"pass":13,"rush":26,"int":0,"fum_ret":0,"punt_ret":0,"kick_ret":0,"fg_ret":0,"other":0},"third_down_efficiency":{"att":157,"conv":57,"pct":36.306,"pass":26,"rush":31,"pen":0},"rushing":{"att":509,"yds":2820,"avg":5.54,"lg":79,"td":26,"fd":149,"fd_pct":29.273,"sfty":1,"rz_att":94,"fum":13,"yds_10_pls":45,"yds_20_pls":20,"yds_30_pls":4,"yds_40_pls":3,"yds_50_pls":9},"redzone_efficiency":{"att":53,"td":38,"pct":71.698},"receiving":{"tar":276,"rec":157,"yds":2137,"yac":2130,"fd":86,"avg":13.611,"td":13,"lg":75,"rz_tar":25,"fum":2,"yds_10_pls":46,"yds_20_pls":7,"yds_30_pls":8,"yds_40_pls":5,"yds_50_pls":8},"punting":{"punts":61,"yds":2538,"net_yds":2257,"lg":67,"blk":0,"in20":20,"tb":2,"ret":21,"avg":41.607,"net_avg":37.0,"ret_yds":281,"avg_ret":13.381,"in20_pct":32.787,"tb_pct":3.279},"punt_return":{"returns":12,"yds":56,"fc":17,"lg":22,"td":0,"avg":4.667,"yds_10_pls":2,"yds_20_pls":1,"yds_30_pls":0,"yds_40_pls":0,"yds_50_pls":0},"penalty":{"num":76,"yds":768,"fd":33},"passing":{"att":306,"cmp":157,"yds":2137,"lg":75,"sk":27,"sk_yds":191.0,"td":13,"int":12,"int_td":0,"fd":86,"sfty":0,"rz_att":29,"rating":116.15,"avg":6.984,"cmp_pct":51.307,"cmp_avg":13.611,"td_pct":4.248,"int_pct":3.922,"yds_10_pls":46,"yds_20_pls":7,"yds_30_pls":8,"yds_40_pls":5,"yds_50_pls":8},"kickoffs":{"kicks":58,"yds":3404,"net_yds":2235,"lg":65,"endzone":28,"in20":10,"tb":20,"ret":34,"avg":58.69,"net_avg":38.534,"ret_yds":1169,"avg_ret":34.382,"in20_pct":17.241,"tb_pct":34.483},"kick_return":{"returns":32,"yds":546,"fc":0,"lg":33,"td":0,"avg":17.063,"yds_10_pls":14,"yds_20_pls":9,"yds_30_pls":3,"yds_40_pls":0,"yds_50_pls":0},"goal_efficiency":{"att":24,"td":19,"pct":79.167},"fumbles":{"fum":24,"lost":9,"oob":1,"own_rec":6,"own_rec_yds":0,"own_rec_td":0,"force_fum":8,"opp_rec":6,"opp_rec_yds":0,"opp_rec_td":0},"fourth_down_efficiency":{"att":18,"conv":5,"pct":27.778,"pass":1,"rush":4,"pen":0},"first_downs":{"num":250,"pass":85,"rush":130,"pen":35},"field_goal":{"att":14,"made":9,"pct":64.286,"lg":46,"att_19":0,"made_19":0,"att_29":6,"made_29":6,"att_39":2,"made_39":2,"att_49":3,"made_49":1,"att_50":3,"made_50":0},"extra_point":{"att":36,"made":36,"pct":100.0,"blk":0},"defense":{"tackle":519,"ast":60,"comb":579,"tlost":51,"sack":21.0,"sack_yds":144.0,"sfty":0,"int":8,"int_yds":32,"int_lg":22,"int_td":0,"force_fum":6,"fum_rec":6,"fum_td":0,"qh":13,"pd":30,"bk":0,"sp_tackle":38,"sp_ast":3,"sp_comb":41,"sp_force_fum":1,"sp_fum_rec":6,"misc_tackle":8,"misc_ast":0,"misc_comb":8,"misc_force_fum":0,"misc_fum_rec":0}},"players":[{"id":"15a780d7-909b-4e07-9ef9-06b054829fb9","name":"Abraham
        Mendivil","jersey":84,"position":"WR","games_played":0,"games_started":0,"statistics":{"defense":{"tackle":0,"ast":0,"comb":0,"tlost":0,"sack":0.0,"sack_yds":0.0,"sfty":0,"int":0,"int_yds":0,"int_lg":0,"int_td":0,"force_fum":0,"fum_rec":0,"fum_td":0,"qh":0,"pd":0,"bk":0,"sp_tackle":4,"sp_ast":0,"sp_comb":4,"sp_force_fum":0,"sp_fum_rec":0,"misc_tackle":0,"misc_ast":0,"misc_comb":0,"misc_force_fum":0,"misc_fum_rec":0}}},{"id":"994b9f9e-06f7-4bb9-8160-dac690153da1","name":"Lee
        Anderson III","jersey":51,"position":"LB","games_played":0,"games_started":0},{"id":[...]
