---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-xt3/eu/en/teams/sr:competitor:17/profile.json?api_key=agc2vm2evsz4hwhf3mh26dss
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7d70e29e2187d89c9cc2821b15913a95"
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-128.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '176'
      X-Sbe:
      - berilia_prod_web2
      X-Srv:
      - berilia-prod-varnish2.ch.sportradar.ag
      X-Version-Instance:
      - "/current"
    body:
      encoding: UTF-8
      string: '{"generated_at":"2017-10-23T22:09:42+00:00","schema":"http:\/\/schemas.sportradar.com\/bsa\/soccer\/v1\/json\/endpoints\/soccer\/team_profile.json","team":{"id":"sr:competitor:17","name":"Manchester
        City","country":"England","country_code":"ENG","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:1","name":"England","country_code":"ENG"},"abbreviation":"MCI"},"venue":{"id":"sr:venue:606","name":"Etihad
        Stadium","capacity":46708,"city_name":"Manchester","country_name":"England","map_coordinates":"53.484592,-2.202695","country_code":"ENG"},"jerseys":[{"type":"home","base":"5badff","sleeve":"ffffff","number":"000040","squares":false,"stripes":false,"horizontal_stripes":false,"split":false,"shirt_type":"short_sleeves","sleeve_detail":"53a9ff"},{"type":"away","base":"800039","sleeve":"541d53","number":"ffffff","squares":false,"stripes":false,"horizontal_stripes":false,"split":false,"shirt_type":"short_sleeves","sleeve_detail":"752b59"},{"type":"goalkeeper","base":"339966","sleeve":"339966","number":"ffffff","squares":false,"stripes":false,"horizontal_stripes":false,"split":false,"shirt_type":"long_sleeves"},{"type":"third","base":"1b3434","sleeve":"ffffff","number":"53a9ff","squares":false,"stripes":false,"horizontal_stripes":false,"split":false,"shirt_type":"short_sleeves","sleeve_detail":"1f3d3d"}],"manager":{"id":"sr:player:53463","name":"Guardiola,
        Pep","nationality":"Spain","country_code":"ESP"},"players":[{"id":"sr:player:13249","name":"Bravo,
        Claudio","type":"goalkeeper","date_of_birth":"1983-04-13","nationality":"Chile","country_code":"CHL","height":184,"weight":80,"jersey_number":1,"preferred_foot":"right"},{"id":"sr:player:44614","name":"Walker,
        Kyle","type":"defender","date_of_birth":"1990-05-28","nationality":"England","country_code":"ENG","height":178,"weight":70,"jersey_number":2,"preferred_foot":"right"},{"id":"sr:player:124992","name":"Danilo","type":"defender","date_of_birth":"1991-07-15","nationality":"Brazil","country_code":"BRA","height":184,"weight":78,"jersey_number":3,"preferred_foot":"right"},{"id":"sr:player:6019","name":"Kompany,
        Vincent","type":"defender",[...]
