---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-xt3/eu/en/teams/sr:competitor:17/results.json?api_key=agc2vm2evsz4hwhf3mh26dss
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a305ee010bb5959c37d5cf5aacb7721c"
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-112.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '175'
      X-Sbe:
      - berilia_prod_web1
      X-Srv:
      - berilia-prod-varnish2.ch.sportradar.ag
      X-Version-Instance:
      - "/current"
    body:
      encoding: UTF-8
      string: '{"generated_at":"2017-10-23T22:08:24+00:00","schema":"http:\/\/schemas.sportradar.com\/bsa\/soccer\/v1\/json\/endpoints\/soccer\/team_results.json","team":{"id":"sr:competitor:17","name":"Manchester
        City","country":"England","country_code":"ENG","abbreviation":"MCI"},"results":[{"sport_event":{"id":"sr:match:11830130","scheduled":"2017-10-21T14:00:00+00:00","start_time_tbd":false,"tournament_round":{"type":"group","number":9},"season":{"id":"sr:season:40942","name":"Premier
        League 17\/18","start_date":"2017-08-11","end_date":"2018-05-14","year":"17\/18","tournament_id":"sr:tournament:17"},"tournament":{"id":"sr:tournament:17","name":"Premier
        League","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:1","name":"England","country_code":"ENG"}},"competitors":[{"id":"sr:competitor:17","name":"Manchester
        City","country":"England","country_code":"ENG","abbreviation":"MCI","qualifier":"home"},{"id":"sr:competitor:6","name":"Burnley
        FC","country":"England","country_code":"ENG","abbreviation":"BUR","qualifier":"away"}],"venue":{"id":"sr:venue:606","name":"Etihad
        Stadium","capacity":46708,"city_name":"Manchester","country_name":"England","map_coordinates":"53.484592,-2.202695","country_code":"ENG"}},"sport_event_status":{"status":"closed","match_status":"ended","home_score":3,"away_score":0,"winner_id":"sr:competitor:17","period_scores":[{"home_score":1,"away_score":0,"type":"regular_period","number":1},{"home_score":2,"away_score":0,"type":"regular_period","number":2}]}},{"sport_event":{"id":"sr:match:12330552","scheduled":"2017-10-17T18:45:00+00:00","start_time_tbd":false,"tournament_round":{"type":"group","number":3,"group":"F"},"season":{"id":"sr:season:41198","name":"UEFA
        Champions League 17\/18","start_date":"2017-06-27","end_date":"2018-05-27","year":"17\/18","tournament_id":"sr:tournament:7"},"tournament":{"id":"sr:tournament:7","name":"UEFA
        Champions League","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:393","name":"International
        Clubs"}},"competitors":[{"id":"sr:competitor:17","name":"Manchester City","country":"England","country_code":"ENG","abbreviation":[...]
