---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-xt3/eu/en/teams/sr:competitor:17/schedule.json?api_key=agc2vm2evsz4hwhf3mh26dss
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"594534d41cee1b0e22d4ec38064a0e5b"
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-118.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '177'
      X-Sbe:
      - berilia_prod_web1
      X-Srv:
      - berilia-prod-varnish2.ch.sportradar.ag
      X-Version-Instance:
      - "/current"
    body:
      encoding: UTF-8
      string: '{"generated_at":"2017-10-23T22:10:51+00:00","schema":"http:\/\/schemas.sportradar.com\/bsa\/soccer\/v1\/json\/endpoints\/soccer\/team_schedule.json","team":{"id":"sr:competitor:17","name":"Manchester
        City","country":"England","country_code":"ENG","abbreviation":"MCI"},"schedule":[{"id":"sr:match:11280037","scheduled":"1992-08-17T15:00:00+00:00","start_time_tbd":false,"status":"not_started","tournament_round":{"type":"group","number":1},"season":{"id":"sr:season:39563","name":"Premier
        League 92\/93","start_date":"1992-08-15","end_date":"1993-05-12","year":"92\/93","tournament_id":"sr:tournament:17"},"tournament":{"id":"sr:tournament:17","name":"Premier
        League","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:1","name":"England","country_code":"ENG"}},"competitors":[{"id":"sr:competitor:17","name":"Manchester
        City","country":"England","country_code":"ENG","abbreviation":"MCI","qualifier":"home"},{"id":"sr:competitor:1","name":"Queens
        Park Rangers","country":"England","country_code":"ENG","abbreviation":"QPR","qualifier":"away"}]},{"id":"sr:match:12568336","scheduled":"2017-10-24T19:00:00+00:00","start_time_tbd":false,"status":"not_started","tournament_round":{"type":"cup","name":"round_of_16"},"season":{"id":"sr:season:41116","name":"EFL
        Cup 17\/18","start_date":"2017-08-07","end_date":"2018-02-28","year":"17\/18","tournament_id":"sr:tournament:21"},"tournament":{"id":"sr:tournament:21","name":"EFL
        Cup","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:1","name":"England","country_code":"ENG"}},"competitors":[{"id":"sr:competitor:17","name":"Manchester
        City","country":"England","country_code":"ENG","abbreviation":"MCI","qualifier":"home"},{"id":"sr:competitor:3","name":"Wolverhampton
        Wanderers","country":"England","country_code":"ENG","abbreviation":"WOL","qualifier":"away"}],"venue":{"id":"sr:venue:606","name":"Etihad
        Stadium","capacity":46708,"city_name":"Manchester","country_name":"England","map_coordinates":"53.484592,-2.202695","country_code":"ENG"}},{"id":"sr:match:11830694","scheduled":"2017-10-28T14:00:00+00:00","start_time_tbd":false,"status":"not_started","tournament_round":{"type":"group","number":10},"season":{"id":"sr:season:40942","name":"Premier
        League 17\/18","start_date":"2017-08-11","end_date":"2018-05-14","year":"17\/18","tournament_id":"sr:tournament:17"},"tournament":{"id":"sr:tournament:17","name":"Premier
        League","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:1","name":"England","country_code":"ENG"}},"competitors":[{"id":"sr:competitor:8","name":"West
        Bromwich Albion","country":"England","country_code":"ENG","abbreviation":"WBA","qualifier":"home"},{"id":"sr:competitor:17","name":"Manchester
        City","country":"England","country_code":"ENG","abbreviation":"MCI","qualifier":"away"}],"venue":{"id":"sr:venue:1136","name":"The
        Hawthorns","capacity":26445,"city_name":"West Bromwich","country_name":"England","map_coordinates":"52.509068,-1.963892","country_code":"ENG"}},{"id":"sr:match:12330556","scheduled":"2017-11-01T19:45:00+00:00","start_time_tbd":false,"status":"not_started","tournament_round":{"type":"group","number":4,"group":"F"},"season":{"id":"sr:season:41198","name":"UEFA
        Champions League 17\/18","start_date":"2017-06-27","end_date":"2018-05-27","year":"17\/18","tournament_id":"sr:tournament:7"},"tournament":{"id":"sr:tournament:7","name":"UEFA
        Champions League","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:393","name":"International
        Clubs"}},"competitors":[{"id":"sr:competitor:2714","name":"SSC Napoli","country":"Italy","country_code":"ITA","abbreviation":"NAP"[...]
