---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-xt3/eu/en/tournaments/sr:tournament:17/teams/sr:competitor:17/statistics.json?api_key=agc2vm2evsz4hwhf3mh26dss
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a8d3de6c6f3acb0811815787f3530327"
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-109.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '182'
      X-Sbe:
      - berilia_prod_web4
      X-Shared-Cache:
      - '1'
      X-Shared-Cache-Age:
      - '41'
      X-Srv:
      - berilia-prod-varnish1.ch.sportradar.ag
      X-Version-Instance:
      - "/current"
    body:
      encoding: UTF-8
      string: '{"generated_at":"2017-10-23T22:20:35+00:00","schema":"http:\/\/schemas.sportradar.com\/bsa\/soccer\/v1\/json\/endpoints\/soccer\/tournament_team_statistics.json","tournament":{"id":"sr:tournament:17","name":"Premier
        League","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:1","name":"England","country_code":"ENG"},"current_season":{"id":"sr:season:40942","name":"Premier
        League 17\/18","start_date":"2017-08-11","end_date":"2018-05-14","year":"17\/18"}},"team":{"id":"sr:competitor:17","name":"Manchester
        City","country":"England","country_code":"ENG","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:1","name":"England","country_code":"ENG"},"abbreviation":"MCI"},"team_season_coverage":{"scheduled":38,"played":9,"platinum":9},"team_statistics":{"matches_played":9,"matches_won":8,"form":"WWWWWWWDW","goal_attempts":{"total":136,"matches":9},"shots_on_goal":{"total":78,"matches":9},"shots_off_goal":{"total":58,"matches":9},"corner_kicks":{"total":66,"matches":9},"ball_possession":{"total":619,"matches":9},"shots_blocked":{"total":39,"matches":9},"cards_given":{"total":20,"matches":9},"free_kicks":{"total":102,"matches":9},"offsides":{"total":13,"matches":9},"goals_by_foot":{"total":27,"matches":9},"goals_by_head":{"total":4,"matches":9},"goals_scored":{"total":32,"matches":9},"goals_conceded":{"total":4,"matches":9}},"player_statistics":[{"id":"sr:player:11781","name":"Silva,
        David","matches_played":9,"statistics":{"goals_scored":{"total":1,"matches":9},"cards_given":{"total":1,"matches":9},"offsides":{"total":1,"matches":9},"corner_kicks":{"total":17,"matches":9},"shots_on_goal":{"total":5,"matches":9},"shots_off_goal":{"total":10,"matches":9},"shots_blocked":{"total":4,"matches":9},"assists":{"total":6,"matches":9},"substituted_out":{"total":3,"matches":9},"goal_attempts":{"total":19,"matches":9},"goals_conceded":{"total":4,"matches":9},"clean_sheets":{"total":6,"matches":9}}},{"id":"sr:player:13630","name":"Fernandinho","matches_played":9,"statistics":{"goals_scored":{"total":1,"matches":9},"cards_given":{"total":3,"matches":9},"corner_kicks":{"total":1,"matches":9},"shots_on_goal":{"total":8,"matches":9},"shots_off_goal":{"total":3,"matches":9},"shots_blocked":{"total":2,"matches":9},"substituted_out":{"total":2,"matches":9},"goal_attempts":{"total":13,"matches":9},"goals_conceded":{"total":4,"matches":9},"clean_sheets":{"total":6,"matches":9}}},{"id":"sr:player:24048","name":"Delph,
        Fabian","matches_played":4,"statistics":{"goals_scored":{"total":1,"matches":4},"shots_on_goal":{"total":2,"matches":4},"shots_blocked":{"total":2,"matches":4},"assists":{"total":1,"matches":4},"substituted_in":{"total":1,"matches":4},"goal_attempts":{"total":4,"matches":4},"goals_conceded":{"total":2,"matches":4},"clean_sheets":{"total":3,"matches":4}}},{"id":"sr:player:70996","name":"De
        Bruyne, Kevin","matches_played":9,"statistics":{"goals_scored":{"total":1,"matches":9},"offsides":{"total":1,"matches":9},"corner_kicks":{"total":35,"matches":9},"shots_on_goal":{"total":12,"matches":9},"shots_off_goal":{"total":3,"matches":9},"shots_blocked":{"total":5,"matches":9},"assists":{"total":6,"match[...]
