---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/ncaafb-t1/2016/REG/13/ASU/ARI/extended-boxscore.json?api_key=8nxbfm6k546m7mscnmaf9ejh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-113.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '155'
      X-Via:
      - S3-Proxy
    body:
      encoding: UTF-8
      string: '{"id":"f8ac7454-980d-496a-99af-5824d5f3eea2","scheduled":"2016-11-26T02:30:00+00:00","status":"closed","coverage":"full","attendance":50197,"quarter":4,"clock":":00","completed":"2016-11-26T06:10:40+00:00","home_team":{"id":"ARI","name":"Wildcats","market":"Arizona","remaining_challenges":2,"remaining_timeouts":2,"possession":"24:04","points":56,"scoring":[{"quarter":1,"points":7},{"quarter":2,"points":21},{"quarter":3,"points":14},{"quarter":4,"points":14}],"leaders":{"passing":[{"id":"6d5ccbc4-7037-419a-afb0-1cc17ebb396b","name":"Brandon
        Dawkins","jersey":13,"position":"QB","att":8,"cmp":3,"yds":77,"lg":64,"sk":0,"sk_yds":0.0,"td":1,"int":0,"int_td":0,"fd":1,"sfty":0,"rz_att":0,"rating":159.6,"avg":9.625,"cmp_pct":37.5,"cmp_avg":25.667,"td_pct":12.5,"int_pct":0.0,"yds_10_pls":0,"yds_20_pls":0,"yds_30_pls":0,"yds_40_pls":0,"yds_50_pls":1}],"rushing":[{"id":"6d5ccbc4-7037-419a-afb0-1cc17ebb396b","name":"Brandon
        Dawkins","jersey":13,"position":"QB","att":12,"yds":183,"avg":15.25,"lg":71,"td":2,"fd":5,"fd_pct":41.667,"sfty":0,"rz_att":2,"fum":2,"yds_10_pls":2,"yds_20_pls":0,"yds_30_pls":0,"yds_40_pls":0,"yds_50_pls":2},{"id":"442aa94f-09dd-4f90-95a3-5e5c98180eae","name":"Samajie
        Grant","jersey":10,"position":"WR","att":19,"yds":176,"avg":9.263,"lg":63,"td":3,"fd":6,"fd_pct":31.579,"sfty":0,"rz_att":3,"fum":0,"yds_10_pls":1,"yds_20_pls":0,"yds_30_pls":0,"yds_40_pls":0,"yds_50_pls":2}],"receiving":[{"id":"444d4335-f2e9-4aad-93ca-51edf6e74a07","name":"Nate
        Phillips","jersey":11,"position":"WR","tar":3,"rec":2,"yds":68,"yac":68,"fd":1,"avg":34.0,"td":1,"lg":64,"rz_tar":0,"fum":0,"yds_10_pls":0,"yds_20_pls":0,"yds_30_pls":0,"yds_40_pls":0,"yds_50_pls":1},{"id":"be105a19-c179-479a-ab81-ef5c87fe3b4f","name":"Josh
        Kern","jersey":17,"position":"TE","tar":1,"rec":1,"yds":9,"yac":9,"fd":0,"avg":9.0,"td":0,"lg":9,"rz_tar":0,"fum":0,"yds_10_pls":0,"yds_20_pls":0,"yds_30_pls":0,"yds_40_pls":0,"yds_50_pls":0}]}},"away_team":{"id":"ASU","name":"Sun
        Devils","market":"Arizona State","remaining_challenges":2,"remaining_timeouts":2,"possession":"35:56","points":35,"scoring":[{"quarter":1,"points":7},{"quarter":2,"points":7},{"quarter":3,"points":14},{"quarter":4,"points":7}],"leaders":{"passing":[{"id":"eb00fd25-3a93-4447-8d9c-adcc8a8dafb0","name":"Manny
        Wilkins","jersey":5,"position":"QB","att":58,"cmp":43,"yds":372,"lg":33,"sk":2,"sk_yds":8.0,"td":3,"int":1,"int_td":0,"fd":17,"sfty":0,"rz_att":3,"ratin[...]
