---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/ncaafb-t1/2016/REG/13/ASU/ARI/pbp.json?api_key=8nxbfm6k546m7mscnmaf9ejh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-120.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '221'
      X-Via:
      - S3-Proxy
    body:
      encoding: UTF-8
      string: '{"id":"f8ac7454-980d-496a-99af-5824d5f3eea2","scheduled":"2016-11-26T02:30:00+00:00","status":"closed","coverage":"full","completed":"2016-11-26T06:10:40+00:00","attendance":50197,"home_team":{"id":"ARI","name":"Wildcats","market":"Arizona","remaining_challenges":2,"remaining_timeouts":2,"points":56},"away_team":{"id":"ASU","name":"Sun
        Devils","market":"Arizona State","remaining_challenges":2,"remaining_timeouts":2,"points":35},"quarters":[{"number":1,"pbp":[{"id":"1aea7784-82da-46c9-9fad-df75f20b9183","clock":"15:00","type":"event","updated":"2016-11-26T02:39:00+00:00","summary":"ARI
        wins coin toss, elects to receive.","winner":{"team":"ARI","outcome":"receive"},"event_type":"cointoss","sequence":1},{"id":"224c98ad-75ae-4982-a38a-2d6e02632e4d","clock":"15:00","team":"ARI","type":"drive","actions":[{"id":"110ca118-1066-4806-b9a8-22d9f1e8665f","clock":"15:00","type":"play","summary":"5-Z.Gonzalez
        kicks 65 yards from ASU 35 to ARI End Zone. touchback.","updated":"2016-11-26T02:40:42+00:00","side":"ASU","yard_line":35,"down":1,"yfd":10,"participants":[{"id":"4f8eb4f8-cc7e-4477-aa28-c5dff2ac9924","name":"Zane
        Gonzalez","jersey":5,"position":"K","team":"ASU"}],"details":"/2016/REG/13/ASU/ARI/plays/110ca118-1066-4806-b9a8-22d9f1e8665f.json","play_type":"kick","sequence":2},{"id":"325d5571-5212-4b26-899a-32eae97f59ff","clock":"15:00","type":"play","summary":"10-S.Grant
        to ARI 29 for 4 yards (8-D.Hayes).","updated":"2016-11-26T02:41:35+00:00","side":"ARI","yard_line":25,"down":1,"yfd":10,"participants":[{"id":"442aa94f-09dd-4f90-95a3-5e5c98180eae","name":"Samajie
        Grant","jersey":10,"position":"WR","team":"ARI"},{"id":"2b229ee0-7541-4d3b-ae7b-a5f14fbd81c0","name":"De''Chavon
        Hayes","jersey":8,"position":"DB","team":"ASU"}][...]
