---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/ncaafb-t1/2016/REG/13/ASU/ARI/statistics.json?api_key=8nxbfm6k546m7mscnmaf9ejh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-127.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '220'
      X-Via:
      - S3-Proxy
    body:
      encoding: UTF-8
      string: '{"id":"f8ac7454-980d-496a-99af-5824d5f3eea2","scheduled":"2016-11-26T02:30:00+00:00","status":"closed","coverage":"full","attendance":50197,"home_team":{"id":"ARI","name":"Wildcats","market":"Arizona","remaining_challenges":2,"remaining_timeouts":2,"points":56,"statistics":{"touchdowns":{"team":{"pass":1,"rush":7,"int":0,"fum_ret":0,"punt_ret":0,"kick_ret":0,"fg_ret":0,"other":0},"players":[{"id":"444d4335-f2e9-4aad-93ca-51edf6e74a07","name":"Nate
        Phillips","jersey":11,"position":"WR","pass":1,"rush":0,"int":0,"fum_ret":0,"punt_ret":0,"kick_ret":0,"fg_ret":0,"other":0},{"id":"3cabed40-d8f6-4261-bfa5-ad4b0004a383","name":"Zach
        Green","jersey":34,"position":"RB","pass":0,"rush":2,"int":0,"fum_ret":0,"punt_ret":0,"kick_ret":0,"fg_ret":0,"other":0},{"id":"6d5ccbc4-7037-419a-afb0-1cc17ebb396b","name":"Brandon
        Dawkins","jersey":13,"position":"QB","pass":0,"rush":2,"int":0,"fum_ret":0,"punt_ret":0,"kick_ret":0,"fg_ret":0,"other":0},{"id":"442aa94f-09dd-4f90-95a3-5e5c98180eae","name":"Samajie
        Grant","jersey":10,"position":"WR","pass":0,"rush":3,"int":0,"fum_ret":0,"punt_ret":0,"kick_ret":0,"fg_ret":0,"other":0}]},"third_down_efficiency":{"team":{"att":8,"conv":2,"pct":25.0,"pass":0,"rush":2,"pen":0}},"rushing":{"team":{"att":48,"yds":511,"avg":10.646,"lg":71,"td":7,"fd":21,"fd_pct":43.75,"sfty":0,"rz_att":11,"fum":2,"yds_10_pls":5,"yds_20_pls":1,"yds_30_pls":1,"yds_40_pls":0,"yds_50_pls":5},"players":[{"id":"39e2d6fe-0fdb-46a7-a062-eadc97aba997","name":"Freddie
        Tagaloa","jersey":72,"position":"OL","att":0,"yds":0,"avg":0.0,"lg":0,"td":0,"fd":0,"fd_pct":0.0,"sfty":0,"rz_att":0,"fum":0,"yds_10_pls":0,"yds_20_pls":0,"yds_30_pls":0,"yds_40_pls":0,"yds_50_pls":0},{"id":"b13c0eab-5aef-4526-89fd-fb9c51c3e4aa","name":"Shun
        Brown","jersey":6,"position":"WR","att":1,"yds":30,"avg":30.0,"lg":30,"td":0,"fd":1,"fd_pct":100.0,"sfty":0,"rz_att":0,"fum":0,"yds_10_pls":0,"yds_20_[...]
