---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-xt3/eu/en/tournaments.json?api_key=agc2vm2evsz4hwhf3mh26dss
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"02c487ef9a429a2203885be64449185d"
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-135.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '37'
      X-Sbe:
      - berilia_prod_web2
      X-Srv:
      - berilia-prod-varnish1.ch.sportradar.ag
      X-Version-Instance:
      - "/current"
    body:
      encoding: UTF-8
      string: '{"generated_at":"2017-10-06T02:48:29+00:00","schema":"http:\/\/schemas.sportradar.com\/bsa\/soccer\/v1\/json\/endpoints\/soccer\/tournaments.json","tournaments":[{"id":"sr:tournament:7","name":"UEFA
        Champions League","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:393","name":"International
        Clubs"},"current_season":{"id":"sr:season:41198","name":"UEFA Champions League
        17\/18","start_date":"2017-06-27","end_date":"2018-05-27","year":"17\/18"},"season_coverage_info":{"season_id":"sr:season:41198","scheduled":192,"played":128,"max_coverage_level":"platinum","max_covered":65,"min_coverage_level":"bronze"}},{"id":"sr:tournament:8","name":"LaLiga","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:32","name":"Spain","country_code":"ESP"},"current_season":{"id":"sr:season:42556","name":"LaLiga
        17\/18","start_date":"2017-08-18","end_date":"2018-05-21","year":"17\/18"},"season_coverage_info":{"season_id":"sr:season:42556","scheduled":380,"played":70,"max_coverage_level":"platinum","max_covered":70,"min_coverage_level":"platinum"}},{"id":"sr:tournament:17","name":"Premier
        League","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:1","name":"England","country_code":"ENG"},"current_season"[...]
