---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/games/0141a0a5-13e5-4b28-b19f-0c3923aaef6e/roster.xml?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"af90f204077a7ddea7c3da2f9b0f440b"'
      Last-Modified:
      - Fri, 26 Aug 2016 15:56:17 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-122.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '7809'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '2'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <?xml-stylesheet type="text/xsl" charset="UTF-8" href="/xslt/nfl/premium/roster-v2.0.xsl"?>
        <!-- Generation started @ 2016-08-26 15:56:16 +0000 -->
        <game xmlns="http://feed.elasticstats.com/schema/nfl/premium/roster-v2.0.xsd" id="0141a0a5-13e5-4b28-b19f-0c3923aaef6e" status="closed" reference="56510" number="8" scheduled="2015-09-13T17:02:41+00:00" attendance="76512" utc_offset="-5" entry_mode="INGEST" weather="Partly Cloudy Temp: 69 F, Humidity: 58%, Wind: NW 10 mph" clock="00:00" quarter="4">
          <summary>
            <season id="46aa2ca3-c2fc-455d-8256-1f7893a87113" year="2015" type="REG" name="REG"/>
            <week id="581edacd-e641-43d6-9e69-76b29a306643" sequence="1" title="1"/>
            <venue id="7c11bb2d-4a53-4842-b842-0f1c63ed78e9" name="FedExField" city="Landover" state="MD" country="USA" zip="20785" address="1600 FedEx Way" capacity="83000" surface="turf" roof_type="outdoor"/>
            <home name="Redskins" market="Washington" alias="WAS" reference="4971" id="22052ff7-c065-42ee-bc8f-c4691c50e624"/>
            <away name="Dolphins" market="Miami" alias="MIA" reference="4958" id="4809ecb0-abd3-451d-9c4a-92a90b83ca06"/>
          </summary>
          <home name="Redskins" market="Washington" alias="WAS" reference="4971" id="22052ff7-c065-42ee-bc8f-c4691c50e624">
            <player name="Chris Baker" jersey="92" last_name="Baker" first_name="Chris" abbr_name="C.Baker" preferred_name="Chris" birth_date="1987-10-08" weight="325.0" height="74" status="played" id="5659e779-d0af-4107-aa75-d24dc3db90e3" position="DL" age="27" birth_place="Windsor, CT, USA" high_school="Windsor (CT)" college="Hampton" college_conf="Mid-Eastern Athletic Conference" rookie_year="2009">
              <references>
                <reference id="00-0026512" origin="gsis"/>
                <reference id="34719" origin="nflx"/>
              </references>
            </player>
            <player name="Will Compton" jersey="51" last_name="Compton" first_name="Will" abbr_name="W.Compton" preferred_name="Will" birth_date="1989-09-19" weight="230.0" height="73" status="played" id="401c4b1f-8302-433e-a84d-9d3101a30f4b" position="LB" age="25" high_school="North County (MD)" college="Nebraska" college_conf="Big Ten Conference" rookie_year="2013">
              <references>
                <reference id="40326" origin="nflx"/>
                <reference id="00-0029869" origin="gsis"/>
              </references>
            </player>
            <player name="Trenton Robinson" jersey="34" last_name="Robinson" first_name="Trenton" abbr_name="T.Robinson" preferred_name="Trenton" birth_date="1990-02-16" weight="195.0" height="69" status="played" id="215fd07e-7e6a-4060-a545-3fe5fb7add4f" position="S" age="25" birth_place="Bay City, MI, USA" high_school="Bay City Central (MI)" college="Michigan State" college_conf="Big Ten Conference" rookie_year="2012">
              <draft year="2012" round="6" number="180">
                <team name="49ers" market="San Francisco" alias="SF" id="f0e724b0-4cbf-495a-be47-013907608da9"/>
              </draft>
              <references>
                <reference id="00-0029297" origin="gsis"/>
                <reference id="38710" origin="nflx"/>
              </references>
            </player>
            <player name="Jordan Reed" jersey="86" last_name="Reed" first_name="Jordan" abbr_name="J.Reed" preferred_name="Jordan" birth_date="1990-07-03" weight="237.0" height="75" status="played[...]
