---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/games/0141a0a5-13e5-4b28-b19f-0c3923aaef6e/statistics.xml?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '7810'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <?xml-stylesheet type="text/xsl" charset="UTF-8" href="/xslt/nfl/premium/statistics-v2.0.xsl"?>
        <!-- Generation started @ 2016-08-26 15:56:16 +0000 -->
        <game xmlns="http://feed.elasticstats.com/schema/nfl/premium/statistics-v2.0.xsd" id="0141a0a5-13e5-4b28-b19f-0c3923aaef6e" status="closed" reference="56510" number="8" scheduled="2015-09-13T17:02:41+00:00" attendance="76512" utc_offset="-5" entry_mode="INGEST" weather="Partly Cloudy Temp: 69 F, Humidity: 58%, Wind: NW 10 mph" clock="00:00" quarter="4">
          <summary>
            <season id="46aa2ca3-c2fc-455d-8256-1f7893a87113" year="2015" type="REG" name="REG"/>
            <week id="581edacd-e641-43d6-9e69-76b29a306643" sequence="1" title="1"/>
            <venue id="7c11bb2d-4a53-4842-b842-0f1c63ed78e9" name="FedExField" city="Landover" state="MD" country="USA" zip="20785" address="1600 FedEx Way" capacity="83000" surface="turf" roof_type="outdoor"/>
            <home name="Redskins" market="Washington" alias="WAS" reference="4971" used_timeouts="3" remaining_timeouts="0" id="22052ff7-c065-42ee-bc8f-c4691c50e624" points="10"/>
            <away name="Dolphins" market="Miami" alias="MIA" reference="4958" used_timeouts="1" remaining_timeouts="2" id="4809ecb0-abd3-451d-9c4a-92a90b83ca06" points="17"/>
          </summary>
          <team name="Redskins" market="Washington" alias="WAS" reference="4971" id="22052ff7-c065-42ee-bc8f-c4691c50e624" possession_time="37:54" avg_gain="5.1" safeties="0" turnovers="2" play_count="69" rush_plays="37" total_yards="349" fumbles="1" lost_fumbles="0" penalties="11" penalty_yards="88" return_yards="23">
            <rushing avg_yards="4.4" attempts="37" touchdowns="0" tlost="3" tlost_yards="-6" yards="161" longest="14" longest_touchdown="0" redzone_attempts="2">
              <player name="Jamison Crowder" jersey="80" reference="00-0031941" id="8002dd5e-a75a-4d72-9a8c-0f4dbc80d459" position="WR" avg_yards="2.0" attempts="1" touchdowns="0" yards="2" longest="2" longest_touchdown="0" redzone_attempts="0" tlost="0" tlost_yards="0"/>
              <player name="Chris Thompson" jersey="25" reference="00-0030404" id="0366fd06-19a3-4b69-8448-6bfbfad1250b" position="RB" avg_yards="3.7" attempts="3" touchdowns="0" yards="11" longest="7" longest_touchdown="0" redzone_attempts="0" tlost="0" tlost_yards="0"/>
              <player name="Kirk Cousins" jersey="08" reference="00-0029604" id="bbd0942c-6f77-4f83-a6d0-66ec6548019e" position="QB" avg_yards="-0.5" attempts="2" touchdowns="0" yards="-1" longest="0" longest_touchdown="0" redzone_attempts="0" tlost="0" tlost_yards="0"/>
              <player name="Matt Jones" jersey="31" reference="00-0031939" id="2641d36d-7c61-445f-980f-313671f2e8ce" position="RB" avg_yards="4.7" attempts="6" touchdowns="0" yards="28" longest="9" longest_touchdown="0" redzone_attempts="0" tlost="0" tlost_yards="0"/>
              <player name="Alfred Morris" jersey="46" reference="00-0029141" id="bd10efdf-d8e7-4e23-ab1a-1e42fb65131b" position="RB" avg_yards="4.8" attempts="25" touchdowns="0" yards="121" longest="14" longest_touchdown="0" redzone_attempts="2" tlost="3" tlost_yards="-6"/>
            </rushing>
            <receiving targets="31" receptions="21" avg_yards="9.333" yards="196" touchdowns="1" yards_after_catch="64" longest="25" longest_touchdown="4" redzone_targets="3" air_yards="132">
              <player name="DeSean Jackson" jersey="11" reference="00-0026189" id="3e618eb6-41f2-4f20-ad70-2460f9366f43" position="WR" receptions="0" targets="1" yards="0" avg_yards="0.0" longest="0" touchdowns="0" longest_touchdown="0" yards_after_catch="0" redzone_targets="0" air_yards="0"/>
              <player name="Pierre G[...]
