---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/seasontd/2016/reg/1/depth_charts.xml?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-115.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '7813'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '2'
      X-Via:
      - S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Generation started @ 2016-09-14 11:22:09 +0000 -->
        <season xmlns="http://feed.elasticstats.com/schema/nfl/premium/depth_charts-v2.0.xsd" id="49037b4f-71c4-4e4d-8963-4f9b83e0b4bc" year="2016" type="REG" name="REG">
          <week id="fca6b835-3977-4979-8a74-4d3f46e3be24" sequence="1" title="1"/>
          <depth_charts>
            <team name="Cardinals" market="Arizona" alias="ARI" id="de760528-1dc0-416a-a978-b510d20692ff">
              <defense>
                <position name="$LB">
                  <player name="Deone Bucannon" jersey="20" reference="00-0031366" id="a1902bda-47bc-4436-9165-2d79620e4030" position="ILB" depth="1"/>
                  <player name="Gabriel Martin" jersey="50" reference="00-0031707" id="7595ead0-d80a-4dc5-bbd4-b2577d566608" position="ILB" depth="2"/>
                </position>
                <position name="DT">
                  <player name="Calais Campbell" jersey="93" reference="00-0026190" id="0333b8f0-3aab-45aa-a684-6d402a309413" position="DT" depth="1"/>
     [...]
