---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/league/2016/10/2/changes.xml?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-115.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '7922'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Generation started @ 2016-10-02 23:09:46 +0000 -->
        <league xmlns="http://feed.elasticstats.com/schema/nfl/premium/changelog-v2.0.xsd" id="3c6d318a-6164-4290-9bbc-bf9bb21cc4b8" name="National Football League" alias="NFL">
          <changelog start_time="2016-10-02T04:00:00+00:00" end_time="2016-10-03T03:59:59+00:00">
            <profiles>
              <players>
                <player id="18fc2ade-5106-491d-9e5f-97926e64459a" full_name="Josh Andrews" last_modified="2016-10-02T06:21:54+00:00"/>
                <player id="2fd4116c-52de-41f5-9f30-16614eb424c4" full_name="Letroy Guion" last_modified="2016-10-02T06:21:56+00:00"/>
                <player id="3258dbca-9194-4fd7-bc2b-8440c73d0d9c" full_name="Datone Jones" last_modified="2016-10-02T06:21:56+00:00"/>
                <player id="409377a4-293c-4eee-a9d1-02a46449a540" full_name="Morgan Burnett" last_modified="2016-10-02T[...]
