---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/league/2016/9/28/changes.xml?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-120.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '7815'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '2'
      X-Via:
      - S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Generation started @ 2016-09-29 01:31:52 +0000 -->
        <league xmlns="http://feed.elasticstats.com/schema/nfl/premium/changelog-v2.0.xsd" id="3c6d318a-6164-4290-9bbc-bf9bb21cc4b8" name="National Football League" alias="NFL">
          <changelog start_time="2016-09-28T04:00:00+00:00" end_time="2016-09-29T03:59:59+00:00">
            <profiles>
              <players>
                <player id="01291a8d-d97c-4d88-b497-b5ad4b72f626" full_name="Brandon Weeden" last_modified="2016-09-28T22:21:59+00:00"/>
                <player id="014038bd-e9b7-476f-b7bd-bd78a46a9a57" full_name="Austin Johnson" last_modified="2016-09-28T22:21:58+00:00"/>
                <player id="02d2c680-e929-41d9-b514-67ffe0c4cd2d" full_name="James Murphy" last_modified="2016-09-28T22:21:54+00:00"/>
                <player id="02f3eb16-982c-48ff-b731-7456812ab200" full_name="Anthony Davis" last_modified="2016-09-[...]
