---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/games/0141a0a5-13e5-4b28-b19f-0c3923aaef6e/boxscore.xml?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-118.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '7796'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <?xml-stylesheet type="text/xsl" charset="UTF-8" href="/xslt/nfl/premium/boxscore-v2.0.xsl"?>
        <!-- Generation started @ 2016-08-26 15:56:16 +0000 -->
        <game xmlns="http://feed.elasticstats.com/schema/nfl/premium/boxscore-v2.0.xsd" id="0141a0a5-13e5-4b28-b19f-0c3923aaef6e" status="closed" reference="56510" number="8" scheduled="2015-09-13T17:02:41+00:00" attendance="76512" utc_offset="-5" entry_mode="INGEST" weather="Partly Cloudy Temp: 69 F, Humidity: 58%, Wind: NW 10 mph" clock="00:00" quarter="4">
          <summary>
            <season id="46aa2ca3-c2fc-455d-8256-1f7893a87113" year="2015" type="REG" name="REG"/>
            <week id="581edacd-e641-43d6-9e69-76b29a306643" sequence="1" title="1"/>
            <venue id="7c11bb2d-4a53-4842-b842-0f1c63ed78e9" name="FedExField" city="Landover" state="MD" country="USA" zip="20785" address="1600 FedEx Way" capacity="83000" surface="turf" roof_type="outdoor"/>
            <home name="Redskins" market="Washington" alias="WAS" reference="4971" used_timeouts="3" remaining_timeouts="0" id="22052ff7-c065-42ee-bc8f-c4691c50e624" points="10"/>
            <away name="Dolphins" market="Miami" alias="MIA" reference="4958" used_timeouts="1" remaining_timeouts="2" id="4809ecb0-abd3-451d-9c4a-92a90b83ca06" points="17"/>
          </summary>
          <situation clock="00:00" down="2" yfd="11">
            <possession name="Dolphins" market="Miami" alias="MIA" reference="4958" id="4809ecb0-abd3-451d-9c4a-92a90b83ca06"/>
            <location name="Dolphins" market="Miami" alias="MIA" reference="4958" id="4809ecb0-abd3-451d-9c4a-92a90b83ca06" yardline="45"/>
          </situation>
          <last_event>
            <event id="c68447b0-425f-4e7b-8200-581ca222c03d" sequence="4228.0" reference="4228" clock="00:00" type="game_over">
              <description>END GAME</description>
              <alt-description>END GAME</alt-description>
            </event>
          </last_event>
          <scoring>
            <quarter id="fd31368b-a159-4f56-a022-afc691e34755" number="1" sequence="1" home_points="3" away_points="0"/>
            <quarter id="17ee8c4c-3e1c-4dbb-83eb-f54fabe2a117" number="2" sequence="2" home_points="7" away_points="7"/>
            <quarter id="da1c72aa-a5eb-44db-a23f-f9e2284d7968" number="3" sequence="3" home_points="0" away_points="0"/>
            <quarter id="99063002-e5ee-4239-b686-f5aaa192e5d8" number="4" sequence="4" home_points="0" away_points="10"/>
          </scoring>
          <scoring_drives>
            <drive id="a956d9cb-d8ab-408c-91fc-442f06e338ff" sequence="1" start_reason="Kickoff" end_reason="Field Goal" play_count="12" duration="7:21" first_downs="4" gain="54" penalty_yards="-1" scoring_drive="true">
              <quarter id="fd31368b-a159-4f56-a022-afc691e34755" number="1" sequence="1"/>
              <team name="Redskins" market="Washington" alias="WAS" reference="4971" id="22052ff7-c065-42ee-bc8f-c4691c50e624"/>
              <plays>
                <play id="9de4c5df-5e94-4fe2-b646-ba1dca0a1afd" sequence="63.0" reference="63" clock="15:00" home_points="0" away_points="0" type="kickoff" play_clock="12" wall_clock="2015-09-13T17:02:41+00:00">
                  <start_situation clock="15:00" down="0" yfd="0">
                    <possession name="Dolphins" market="Miami" alias="MIA" reference="4958" id="4809ecb0-abd3-451d-9c4a-92a90b83ca06"/>
                    <location name="Dolphins" market="Miami" alias="MIA" reference="4958" id="4809ecb0-abd3-451d-9c4a-92a90b83ca06" yardline="35"/>
                  </start_situation>
                  <end_situation clock="15:00" down="1" yfd="10">
                    <possession name="Redskins" market="Washington" alias="WAS" reference="4971" id="22052ff7-c065-42ee-bc8f-c4691c50e624"/>
                    <location name="Redskins" market="Washington" alias="WAS" reference="4971" id="22052ff7-c065-42ee-bc8f-c4691c50e624" yardline="20"/>
                  </end_situation>
                  <description>3-A.Franks kicks 65 yards from MIA 35 to end zone, Touchback.</description>
                  <alt-description>A.Franks kicks 65 yards from MIA 35 to end zone, Touchback.</alt-description>
                  <statistics>
                    <kick attempt="1" yards="65" gross_yards="74" touchback="1">
                      <team name="Dolphins" market="Miami" alias="MIA" reference="4958" id="4809ecb0-abd3-451d-9c4a-92a90b83ca06"/>
                      <player name="Andrew Franks" jersey="03" reference="00-0031718" id="59da7aea-f21a-43c5-b0bf-2d1e8b19da80" position="K"/>
                    </kick>
                    <return touchback="1" category="kick_return">
                      <team name="Redskins" market="Washington" alias="WAS" reference="4971" id="22052ff7-c065-42ee-bc8f-c4691c50e624"/>
                    </return>
                  </statistics>
                </play>
                <play id="3a2e9bb4-6b79-473a-b86a-522b92e88c71" sequence="82.0" reference="82" clock="15:00" home_points="0" away_points="0" type="rush" play_clock="12" wall_clock="2015-09-13T17:03:26+00:00">
                  <start_situa[...]
