---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/seasontd/2016/reg/1/injuries.xml?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-112.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '7873'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Generation started @ 2016-09-14 11:21:58 +0000 -->
        <season xmlns="http://feed.elasticstats.com/schema/nfl/premium/injuries-v2.0.xsd" id="49037b4f-71c4-4e4d-8963-4f9b83e0b4bc" year="2016" type="REG" name="REG">
          <week id="fca6b835-3977-4979-8a74-4d3f46e3be24" sequence="1" title="1"/>
          <injuries>
            <team name="Bengals" market="Cincinnati" alias="CIN" id="ad4ae08f-d808-42d5-a1e6-e9bc4e34d123">
              <player name="Tyler Eifert" jersey="85" reference="00-0030549" id="14ecf9dd-3a77-4847-8e62-407cd1182f1c" position="TE">
                <injury status="Out" status_date="2016-09-09T16:23:30+00:00">
                  <practice status="Did Not Participate In Practice"/>
                  <primary>Ankle</primary>
                </injury>
              </player>
              <player name="James Wright" jersey="86" reference="00-0031291" id="c0968ade-8af6-49f3-b812-bf15b6379334" position="WR">
                <injury status_date="2016-09-09T16:22:33+00:00">
                  <practice status="Full Participation in Practice"/>
                </injury>
              </player>
              <player name="Anthony Johnson" jersey="60" reference="00-0030126" id="dadcbaf3-cd13-43dd-8b7a-9f81db4[...]
