---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/seasontd/2016/reg/teams/97354895-8c77-4fd4-a860-32e62ea7382a/statistics.xml?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-119.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '7883'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Generation started @ 2016-09-28 16:44:10 +0000 -->
        <season xmlns="http://feed.elasticstats.com/schema/nfl/premium/statistics-v2.0.xsd" id="49037b4f-71c4-4e4d-8963-4f9b83e0b4bc" year="2016" type="REG" name="REG">
          <team name="Patriots" market="New England" alias="NE" id="97354895-8c77-4fd4-a860-32e62ea7382a">
            <team_records>
              <record games_played="3">
                <touchdowns pass="4" rush="5" total_return="0" total="9" fumble_return="0" int_return="0" kick_return="0" punt_return="0" other="0"/>
                <rushing avg_yards="4.185" attempts="108" touchdowns="5" tlost="10" tlost_yards="-22" yards="452" longest="41" longest_touchdown="41" redzone_attempts="5"/>
                <receiving targets="87" receptions="59" avg_yards="11.712" yards="691" touchdowns="4" yards_after_catch="409" longest="37" longest_touchdown="37" redzone_targets="5" air_yards="282"/>
                <punts attempts="13" yards="550" net_yards="542" blocked="0" touchbacks="0" inside_20="8" return_yards="8" avg_net_yards="41.692" avg_yards="42.308" longest="57"/>
                <punt_returns avg_yards="10.5" returns="8" yards="84" longest="19" touchdowns="0" longest_touchdown="0" faircatches="4"/>
                <penalties penalties="18" yards="149"/>
                <passing attempts="87" completions="59" cmp_pct="67.816" interceptions="0" sack_yards="35" rating="107" touchdowns="4" avg_yards="7.54" yards="656" sacks="5" longest="37" longest_touchdown="37" air_yards="282" redzone_attempts="5" gross_yards="691"/>
                <kickoffs kickoffs="18" endzone="4" inside_20="5" return_yards="127" returned="0" touchbacks="10" yards="1159" out_of_bounds="0"/>
                <kick_returns avg_yards="22.667" returns="3" yards="68" longest="26" touchdowns="0" longest_touchdown="0" faircatches="0"/>
                <interceptions interceptions="3" return_yards="31" returned="3"/>
                <int_returns avg_yards="10.333" returns="3" yards="31" longest="18" touchdowns="0" longest_touchdown="0"/>
                <fumbles fumbles="7" lost_fumbles="3" own_rec="3" own_rec_yards="-2" opp_rec="4" opp_rec_yards="0" out_of_bounds="1" forced_fumbles="4" own_rec_tds="0" opp_rec_tds="0" ez_rec_tds="0"/>
                <first_downs pass="30" penalty="7" rush="26" total="63"/>
                <field_goals attempts="7" made="6" blocked="0" yards="215" avg_yards="30.714" longest="53"/>
                <extra_points>
                  <kicks attempts="9" blocked="0" made="9"/>
                  <conversions pass_attempts="0" pass_successes="0" rush_attempts="0" rush_successes="0" defense_attempts="0" defense_successes="0" turnover_successes="0"/>
                </extra_points>
                <efficiency>
                  <goaltogo attempts="3" successes="3" pct="100.0"/>
                  <redzone attempts="9" successes="5" pct="55.556"/>
                  <thirddown attempts="44" successes="21" pct="47.727"/>
                  <fourthdown attempts="0" successes="0" pct="0.0"/>
                </efficiency>
                <defense tackles="111" assists="46" combined="157" sacks="5.0" sack_yards="40.0" interceptions="3" passes_defended="17" forced_fumbles="2" fumble_recoveries="2" qb_hits="16" tloss="11.0" tloss_yards="71.0" safeties="0" sp_tackles="9" sp_assists="0" sp_forced_fumbles="2" sp_fumble_recoveries="3" sp_blocks="0" misc_tackles="3" misc_assists="0" misc_forced_fumbles="0" misc_fumble_recoveries="2" missed_tackles="21"/>
              </record>
              <opponents games_played="3">
                <touchdowns pass="4" rush="2" total_return="0" total="6" fumble_return="0" int_return="0" kick_return="0" punt_return="0" other="0"/>
                <rushing avg_yards="4.371" attempts="62" touchdowns="2" tlost="4" tlost_yards="-7" yards="271" longest="45" longest_touchdown="7" redzone_attempts="4"/>
                <receiving targets="121" receptions="80" avg_yards="10.675" yards="854" touchdowns="4" yards_after_catch="321" longest="39" longest_touchdown="24" [...]
