---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/seasontd/2016/standings.xml?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-121.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '7886'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '2'
      X-Via:
      - S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Generation started @ 2016-09-29 05:31:55 +0000 -->
        <season xmlns="http://feed.elasticstats.com/schema/nfl/premium/standings-v2.0.xsd" id="49037b4f-71c4-4e4d-8963-4f9b83e0b4bc" year="2016" type="REG" name="REG">
          <week id="6e4849c8-c8a8-44d2-96d9-8165d7cc7a6f" sequence="3" title="3"/>
          <conference id="1bdefe12-6cb2-4d6a-b208-b04602ae79c3" alias="AFC" name="AFC">
            <division id="b95cd27d-d631-4fe1-bc05-0ae47fc0b14b" alias="AFC_EAST" name="AFC East">
              <team name="Patriots" market="New England" alias="NE" id="97354895-8c77-4fd4-a860-32e62ea7382a" wins="3" losses="0" ties="0" win_pct="1.0" points_for="81" points_against="45" points_rank="10" touchdown_diff="3" conf_h2h="0">
                <rank conference="1" division="1"/>
                <streak>
                  <win length="3" desc="Won 3"/>
                </streak>
                <strength-of-schedule sos="0.444444" wins="4" total="9"/>
                <strength-of-victory sov="0.444" wins="4" total="9"/>
                <records>
                  <record category="afc" wins="2" losses="0" ties="0" win_pct="1.0"/>
                  <record category="conference" wins="2" losses="0" ties="0" win_pct="1.0" points_for="58" points_against="24" points_rank="5"/>
                  <record category="division" wins="1" losses="0" ties="0" win_pct="1.0" points_for="31" points_against="24"/>
                  <record category="home" wins="2" losses="0" ties="0" win_pct="1.0"/>
                  <record category="nfc" wins="1" losses="0" ties="0" win_pct="1.0"/>
                  <record category="road" wins="1" losses="0" ties="0" win_pct="1.0"/>
                </records>
              </team>
              <team name="Jets" market="New York" alias="NYJ" id="5fee86ae-74ab-4bdd-8416-42a9dd9964f3" wins="1" losses="2" ties="0" win_pct="0.333" points_for="62" points_against="78" points_rank="44" touchdown_diff="-3" conf_h2h="0">
                <rank conference="9" division="2"/>
                <streak>
                  <loss length="1" desc="Lost 1"/>
                </streak>
                <strength-of-schedule sos="0.444444" wins="4" total="9"/>
                <strength-of-victory sov="0.333" wins="1" total="3"/>
                <records>
                  <record category="afc" wins="1" losses="2" ties="0" win_pct="0.333"/>
                  <record category="conference" wins="1" losses="2" ties="0" win_pct="0.333" points_for="62" points_against="78" points_rank="22"/>
                  <record category="divis[...]
