---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-t2/na/teams/b78b9f61-0697-4347-a1b6-b7685a130eb1/profile.xml?api_key=<SOCCER_NA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Etag:
      - '"53de28ca6481d8e9e3113877854a1847"'
      Last-Modified:
      - Wed, 21 Sep 2016 23:31:21 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-119.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '15000'
      X-Plan-Quota-Current:
      - '62'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <profile generated="2016-09-21T23:31:19Z" xmlns="http://feed.elasticstats.com/schema/soccer/sr/v2/teams-profile.xsd">
          <team id="b78b9f61-0697-4347-a1b6-b7685a130eb1" name="Salt Lake" full_name="Real Salt Lake" alias="SAL" country_code="USA" country="United States" type="team" reference_id="sr:team:5133">
            <manager id="c0456c5f-51a0-4d12-996f-e3b2a1c7945c" first_name="Jeff" last_name="Cassar" country_code="USA" country="United States" birthdate="1974-02-02" reference_id="sr:manager:539898"/>
            <roster>
              <player id="640f8388-9feb-4142-933f-204aecb7ae9f" first_name="Justen" last_name="Glad" country_code="USA" country="United States" preferred_foot="" birthdate="1997-02-28" height_in="72" weight_lb="145" height_cm="182" weight_kg="65" reference_id="sr:player:583670" jersey_number="15" position="D"/>
              <player id="fe06eeee-5961-4998-9d69-9472a78ec85b" first_name="Joao" last_name="Plata" country_code="ECU" country="Ecuador" preferred_foot="R" birthdate="1992-03-01" height_in="62" weight_lb="130"[...]
