---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-t2/na/players/2aeacd39-3f9c-42af-957e-9df8573973c4/profile.xml?api_key=<SOCCER_NA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-122.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '15000'
      X-Plan-Quota-Current:
      - '64'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <profile generated="2016-09-29T05:50:02Z" xmlns="http://feed.elasticstats.com/schema/soccer/sr/v2/players-profile.xsd">
          <player id="2aeacd39-3f9c-42af-957e-9df8573973c4" first_name="Kyle" last_name="Beckerman" country_code="USA" country="United States" preferred_foot="R" birthdate="1982-04-23" height_in="70" weight_lb="154" height_cm="177" weight_kg="69" full_first_name="Kyle Robert" full_last_name="Beckerman" reference_id="sr:player:26195">
            <teams>
              <team id="b78b9f61-0697-4347-a1b6-b7685a130eb1" name="Salt Lake" full_name="Real Salt Lake" country_code="USA" country="United States" reference_id="sr:team:5133" jersey_number="5" position="M" is_player="true" is_manager="false"/>
              <team id="79a99f09-13ca-45c4-b3f0-2a61f94e0651" name="USA" full_name="USA" country_code="USA" country="United States" reference_id="sr:team:4724" jersey_number="15" position="M" is_player="true" is_manager="false"/>
            </teams>
            <statistics>
              <season year="2007">
                <statistic goals="0" goal_frequency="0" goal_average="0.0" goal_assists="0" matches_played="2" matches_started="0" minutes_played="0" yellow_cards="0" yellow_red_cards="0" red_cards="0" substitutions_out="0" substitutions_in="1">
                  <category id="ccb3c550-8bdb-435f-9f4e-8c125f7298b9" name="International" country_code="XZ" country="International" reference_id="sr:category:4"/>
                  <tournament_group id="d74abe31-9fc9-48f6-9218-6c274c2e7d26" name="Copa America" reference_id="sr:tournamentgroup:133"/>
                  <team id="79a99f09-13ca-45c4-b3f0-2a61f94e0651" name="USA" full_name="USA" alias="USA" country_code="USA" country="United States" type="team" reference_id="sr:team:4724"/>
                </statistic>
              </season>
              <season year="2009">
                <statistic goals="6" goal_frequency="0" goal_average="0.0" goal_assists="0" matches_played="0" matches_s[...]
