---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-t2/na/teams/dumb/profile.xml?api_key=<SOCCER_NA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-109.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '15000'
      X-Plan-Quota-Current:
      - '63'
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html>\n<head>\n  <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\"/>\n  <title>NoMethodError at &#x2F;feed&#x2F;soccer&#x2F;v1&#x2F;na&#x2F;teams&#x2F;dumb&#x2F;profile.xml</title>\n\n
        \ <script type=\"text/javascript\">\n  //<!--\n  function toggle(id) {\n    var
        pre  = document.getElementById(\"pre-\" + id);\n    var post = document.getElementById(\"post-\"
        + id);\n    var context = document.getElementById(\"context-\" + id);\n\n
        \   if (pre.style.display == 'block') {\n      pre.style.display = 'none';\n
        \     post.style.display = 'none';\n      context.style.background = \"none\";\n
        \   } else {\n      pre.style.display = 'block';\n      post.style.display
        = 'block';\n      context.style.background = \"#fffed9\";\n    }\n  }\n\n
        \ function toggleBacktrace(){\n    var bt = document.getElementById(\"backtrace\");\n
        \   var toggler = document.getElementById(\"expando\");\n\n    if (bt.className
        == 'condensed') {\n      bt.className = 'expanded';\n      toggler.innerHTML
        = \"(condense)\";\n    } else {\n      bt.className = 'condensed';\n      toggler.innerHTML
        = \"(expand)\";\n    }\n  }\n  //-->\n  </script>\n\n<style type=\"text/css\"
        media=\"screen\">\n  *                   {margin: 0; padding: 0; border: 0;
        outline: 0;}\n  div.clear           {clear: both;}\n  body                {background:
        #EEEEEE; margin: 0; padding: 0;\n                       font-family: 'Lucida
        Grande', 'Lucida Sans Unicode',\n                       'Garuda';}\n  code
        \               {font-family: 'Lucida Console', monospace;\n                       font-size:
        12px;}\n  li                  {height: 18px;}\n  ul                  {list-style:
        none; margin: 0; padding: 0;}\n  ol:hover            {cursor: pointer;}\n
        \ ol li               {white-space: pre;}\n  #explanation        {font-size:
        12px; color: #666666;\n                       margin: 20px 0 0 100px;}\n/*
        WRAP */\n  #wrap               {width: 1000px; background: #FFFFFF; margin:
        0 auto;\n                       padding: 30px 50px 20px 50px;\n                       border-left:
        1px solid #DDDDDD;\n                       border-right: 1px solid #DDDDDD;}\n/*
        HEADER */\n  #header             {margin: 0 auto 25px auto;}\n  #header img
        \        {float: left;}\n  #header #summary    {float: left; margin: 12px
        0 0 20px; width:660px;\n                       font-family: 'Lucida Grande',
        'Lucida Sans Unicode';}\n  h1                  {margin: 0; font-size: 36px;
        color: #981919;}\n  h2                  {margin: 0; font-size: 22px; color:
        #333333;}\n  #header ul          {margin: 0; font-size: 12px; color: #666666;}\n
        \ #header ul li strong{color: #444444;}\n  #header ul li       {display: inline;
        padding: 0 10px;}\n  #header ul li.first {padding-left: 0;}\n  #header ul
        li.last  {border: 0; padding-right: 0;}\n/* BODY */\n  #backtrace,\n  #get,\n
        \ #post,\n  #cookies,\n  #rack               {width: 980px; margin: 0 auto
        10px auto;}\n  p#nav               {float: right; font-size: 14px;}\n/* BACKTRACE
        */\n  a#expando           {float: left; padding-left: 5px; color: #666666;\n
        \                     font-size: 14px; text-decoration: none; cursor: pointer;}\n
        \ a#expando:hover     {text-decoration: underline;}\n  h3                  {float:
        left; width: 100px; margin-bottom: 10px;\n                       color: #981919;
        font-size: 14px; font-weight: bold;}\n  #nav a              {color: #666666;
        text-decoration: none; padding: 0 5px;}\n  #backtrace li.frame-info {background:
        #f7f7f7; padding-left: 10px;\n                           font-size: 12px;
        color: #333333;}\n  #backtrace ul       {list-style-position: outside; border:
        1px solid #E9E9E9;\n                       border-bottom: 0;}\n  #backtrace
        ol       {width: 920px; margin-left: 50px;\n                       font: 10px
        'Lucida Console', monospace; color: #666666;}\n  #backtrace ol li    {border:
        0;[...]
