---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-t2/na/matches/2016/7/17/schedule.xml?api_key=<SOCCER_NA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-122.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '15000'
      X-Plan-Quota-Current:
      - '52'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <schedule generated="2016-09-29T05:48:45Z" xmlns="http://feed.elasticstats.com/schema/soccer/sr/v2/matches-schedule.xsd">
          <matches>
            <match id="4569971b-fd46-423e-ba3f-8c727cee56d0" status="closed" scheduled="2016-07-17T00:00:00Z" scratched="false" season_id="388cd6b3-a4ff-4aed-8a1b-82869e139263" reference_id="sr:match:9446877">
              <category id="843cfbca-4acf-48ca-a291-6ed9356570a6" name="Canada" country_code="CAN" country="Canada" reference_id="sr:category:388"/>
              <tournament_group id="f77f2995-ab27-4330-a62f-67eca79774e6" name="Canadian Soccer League" season_start="2016-05-20T22:00:00Z" season_end="2016-11-06T22:59:00Z" season="2016" reference_id="sr:tournamentgroup:482"/>
              <tournament id="5091c40e-0c9c-4ff9-ae84-980ee5a303ec" name="Canadian Soccer League" season_id="388cd6b3-a4ff-4aed-8a1b-82869e139263" season_start="2016-05-20T22:00:00Z" season_end="2016-11-06T22:59:00Z" season="2016" type="group" reference_id="sr:tournament:4707"/>
              <home id="1bc5505f-7a0a-49d6-983a-790b8c4e5fea" name="Scarborough" full_name="Scarborough SC" alias="SCA" country_code="UNK" country="Unknown" type="team" reference_id="sr:team:202451"/>
              <away id="2584dff5-766b-42d1-974f-bc4147eee6e3" name="Hamilton City" full_name="Hamilton City SC" alias="HAC" country_code="CAN" country="Canada" type="team" reference_id="sr:team:22778"/>
              <venue id="4763b6f1-fd78-42ff-aff9-a13b6aa19173" name="Birchmount Stadium" country_code="CAN" country="Canada" city="Scarborough" capacity="2000" coordinates="43.695805,-79.260768" reference_id="sr:venue:16722"/>
              <round type="table" number="1" week="28"/>
              <coverage lineup="NONE" formations="0" injuries="0" scout="NONE" ballspotting="false" cornersonly="false" multicast="false" liveodds="false" deeper="false" tactical="false" stats="true"/>
              <!-- 9446877/202451/22778 -->
            </match>
            <match id="a1b33c86-6af0-4204-8f16-bb1aa285b977" status="closed" scheduled="2016-07-17T00:00:00Z" scratched="false" season_id="72a31835-d37e-470f-8370-b6b5e278fe60" reference_id="sr:match:9608543">
              <category id="ab5bfdbe-ed48-45e8-[...]
