---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-t2/na/matches/357607e9-87cd-4848-b53e-0485d9c1a3bc/summary.xml?api_key=<SOCCER_NA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '15000'
      X-Plan-Quota-Current:
      - '58'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <summary generated="2016-09-29T05:49:28Z" xmlns="http://feed.elasticstats.com/schema/soccer/sr/v2/matches-summary.xsd">
          <matches>
            <match id="357607e9-87cd-4848-b53e-0485d9c1a3bc" status="closed" period="P2" scheduled="2016-07-13T23:00:00Z" clock="" scratched="false" season_id="34913769-58a6-487d-aa7a-1883c8f87909" reference_id="sr:match:8697652">
              <coverage lineups="2" tactical_lineups="true" corner_facts="true" extended_facts="true" deep_facts="true" statistics="true"/>
              <category id="dfc18161-31f9-4fca-8d6b-8d6df641c6fc" name="USA" country_code="USA" country="United States" reference_id="sr:category:26"/>
              <tournament_group id="b4360831-aaa9-46a4-8319-62006d308eb6" name="Major League Soccer" reference_id="sr:tournamentgroup:242"/>
              <tournament id="cdc8c40c-684a-4dfa-980d-a54e18231574" name="Major League Soccer" season_id="34913769-58a6-487d-aa7a-1883c8f87909" type="group" reference_id="sr:tournament:18"/>
              <referee id="19114721-c4ca-470d-9ded-d0ed103baefd" first_name="Robert" last_name="Sibiga" country_code="USA" country="United States" reference_id="sr:referee:592586"/>
              <round type="table" number="19" week="28"/>
              <home id="80c3d4fd-a3e8-4c97-a559-bf95e92a24e7" name="Columbus Crew" full_name="Columbus Crew" alias="COC" country_code="USA" country="United States" type="team" reference_id="sr:team:2504" formation="4-2-3-1" score="1" regular_score="1" penalty_score="" winner="draw">
                <scoring>
                  <half points="0" number="1"/>
                  <half points="1" number="2"/>
                </scoring>
                <statistics attacks="97" ball_safe="86" corner_kicks="7" dangerous_attacks="77" fouls="7" free_kicks="10" goal_attempts="10" goal_kicks="6" offsides="4" saves="1" substitutions="3" throw_ins="20" yellow_card="0" shots_on_target="4" shots_off_target="6" shots_total="10" possessions="60"/>
                <manager id="d1881ea2-9efb-447a-9863-17536d2979a4" first_name="Gregg" last_name="Berhalter" country_code="USA" country="United States" reference_id="sr:manager:1537"/>
                <players>
                  <player id="01a674ea-8a1b-4581-aab9-ee947a6c901b" first_name="Michael" last_name="Parkhurst" country_code="USA" country="United States" reference_id="sr:player:38608" full_first_name="Michael Finlay" full_last_name="Parkhurst" position="D" started="true" jersey_number="4" tactical_position="3" tactical_order="3">
                    <statistics goal="0" goal_assist="0" own_goal="0" yellow_card="0" yellow_red_card="0" red_card="0" substitution_out="0" substitution_in="0"/>
                  </player>
   [...]
