---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-t2/na/teams/standing.xml?api_key=<SOCCER_NA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Etag:
      - '"d5ace56bff46f94624d707e3bea480ca"'
      Last-Modified:
      - Thu, 29 Sep 2016 05:53:52 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-114.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '15000'
      X-Plan-Quota-Current:
      - '79'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <standings generated="2016-09-29T05:53:53Z" xmlns="http://feed.elasticstats.com/schema/soccer/sr/v2/teams-standing.xsd">
          <categories>
            <category id="ab5bfdbe-ed48-45e8-a6b9-eda3a8aaad3b" name="Mexico" country_code="MEX" country="Mexico" reference_id="sr:category:12">
              <tournament_group id="3baac5eb-2bd1-4561-ab76-b96d267dfe2a" name="Primera Division" season_start="2016-07-15T22:00:00Z" season_end="2017-06-24T21:59:00Z" season="2016" reference_id="sr:tournamentgroup:352">
                <tournament id="3022ecee-5b9c-4e48-b6f8-7b0338e88b0f" name="Primera Division, Apertura" season_id="72a31835-d37e-470f-8370-b6b5e278fe60" season_start="2016-07-15T22:00:00Z" season_end="2017-06-24T21:59:00Z" season="2016" type="group" reference_id="sr:tournament:28">
                  <team id="50c96149-b75d-4961-83bf-516900533fb1" name="Tijuana" full_name="Club Tijuana" alias="TIJ" country_code="MEX" country="Mexico" type="team" reference_id="sr:team:36525" rank="1" win="7" draw="3" loss="1" goals_for="20" goals_against="9" points="24" change="1" goals_diff="11">
                    <home rank="1" change="0" win="5" draw="0" loss="0" goals_for="11" goals_against="1" points="15"/>
                    <away rank="2" change="5" win="2" draw="3" loss="1" goals_for="9" goals_against="8" points="9"/>
                  </team>
                  <team id="d733c2ab-d2fd-4ee2-9025-e3b9b9f051e4" name="Tigres" full_name="UANL Tigres" alias="TIG" country_code="MEX" country="Mexico" type="team" reference_id="sr:team:1940" rank="2" win="6" draw="5" loss="0" goals_for="14" goals_against="4" points="23" change="-1" goals_diff="10">
                    <home rank="5" change="-1" win="3" draw="3" loss="0" goals_for[...]
