---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/content-nfl-t3/tsx/news/2016/9/28/all.xml?api_key=<CONTENT_NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/xml
      X-Error-Detail-Header:
      - Account Inactive
      X-Mashery-Error-Code:
      - ERR_403_DEVELOPER_INACTIVE
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-123.mashery.com
    body:
      encoding: UTF-8
      string: "<h1>Developer Inactive</h1>"
  recorded_at: Thu, 29 Sep 2016 00:30:33 GMT
- request:
    method: get
    uri: https://api.sportradar.us/content-nfl-p3/tsx/news/2016/9/28/all.xml?api_key=<CONTENT_NFL_PRODUCTION
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-120.mashery.com
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '15000'
      X-Plan-Quota-Current:
      - '54'
      X-Via:
      - S3-Proxy
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<content xmlns=\"http://feed.elasticstats.com/schema/editorial/content-v2.0.xsd\"
        provider=\"tsx\" sport=\"nfl\" start_time=\"2016-09-28T00:00:00+00:00\" end_time=\"2016-09-28T23:59:59+00:00\">\n
        \ <item id=\"8797dae2-024d-4436-8649-13a85a3c4e80\" type=\"news\" created=\"2016-09-28T00:05:43+00:00\"
        updated=\"2016-09-28T00:56:11+00:00\" injury=\"false\" transaction=\"false\">\n
        \   <title>\n      <![CDATA[Gase blames offensive line for Dolphins'  third-down
        woes]]>\n    </title>\n    <byline>The Sports Xchange</byline>\n    <dateline></dateline>\n
        \   <credit>The Sports Xchange</credit>\n    <content>\n      <long>\n        <![CDATA[DAVIE,
        Fla. -- Miami coach Adam Gase, whose Dolphins (1-2) visit Cincinnati (1-2)
        on Thursday, acknowledges the Dolphins have problems on third downs offensively.
        They rank 26th in third-down conversions at 30.3 percent.\n\nBut Gase points
        to the offensive line as a primary reason the team is struggling in that area.\n\n\"The
        third-down stuff, the problem with that is if we could just stay on our blocks,\"
        he said. \"We got exact[...]
