---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-t2/na/matches/schedule.xml?api_key=<SOCCER_NA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Etag:
      - '"289c2d568cfe5a42c5783aabdbf8f6f1"'
      Last-Modified:
      - Thu, 29 Sep 2016 05:36:12 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '15000'
      X-Plan-Quota-Current:
      - '46'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <schedule generated="2016-09-29T05:36:12Z" xmlns="http://feed.elasticstats.com/schema/soccer/sr/v2/matches-schedule.xsd">
          <matches>
            <match id="fdb06a92-8db1-4bc6-93c1-01425b058573" status="closed" scheduled="2016-08-18T00:00:00Z" scratched="false" season_id="42881571-769d-4877-9f85-71868dc510d1" reference_id="sr:match:9693979">
              <category id="c4ef0886-dfee-4725-81eb-1bb919be832a" name="International Clubs" country_code="XZ" country="International" reference_id="sr:category:393"/>
              <tournament_group id="dc3ea36c-1a29-41e3-b830-9dd2c685670a" name="CONCACAF CL" season_start="2016-08-01T22:00:00Z" season_end="2017-04-27T21:59:00Z" season="2016" reference_id="sr:tournamentgroup:498"/>
              <tournament id="be6fb575-9ec2-4d33-aea8-053b405cb270" name="CONCACAF Champions League, Group 4" season_id="42881571-769d-4877-9f85-71868dc510d1" season_start="2016-08-01T22:00:00Z" season_end="2017-04-27T21:59:00Z" season="2016" type="group" type_group_id="4" reference_id="sr:tournament:8480"/>
              <home id="7bd1840c-37f9-431a-ae1f-86dd23f0cc2e" name="Monterrey" full_name="CF Monterrey" alias="MTY" country_code="MEX" country="Mexico" type="team" reference_id="sr:team:1932"/>
              <away id="0f2c4e42-aef6-4afc-8380-61ca4f3ac76e" name="Arabe Unido" full_name="CD Arabe Unido" alias="AUN" country_code="UNK" country="Unknown" type="team" reference_id="sr:team:36406"/>
              <venue id="148eea38-cdb9-4071-864e-adc95100ca82" name="Estadio BBVA Bancomer" country_code="MEX" country="Mexico" city="Monterrey" capacity="51000" coordinates="25.670172,-100.243700" reference_id="sr:venue:16526"/>
              <round type="table" number="2" week="33"/>
              <coverage lineup="NONE" formations="0" injuries="0" scout="NONE" ballspotting="false" cornersonly="false" multicast="false" liveodds="false" deeper="false" tactical="false" stats="true"/>
              <!-- 9693979/1932/36406 -->
            </match>
            <match id="21ea362c-6e6b-49c7-9643-0cc3774d4d41" status="closed" scheduled="2016-08-18T02:00:00Z" scratched="false" season_id="42881571-769d-4877-9f85-71868dc510d1" reference_id="sr:match:9694027">
              <category id="c4ef0886-dfee-4725-81[...]
