---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-xt3/eu/en/players/sr:player:13249/profile.json?api_key=agc2vm2evsz4hwhf3mh26dss
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"900bf9458be5d849fe6abfe1c638e69c"
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-132.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '311'
      X-Sbe:
      - berilia_prod_web3
      X-Srv:
      - berilia-prod-varnish2.ch.sportradar.ag
      X-Version-Instance:
      - "/current"
    body:
      encoding: UTF-8
      string: '{"generated_at":"2017-10-24T18:44:49+00:00","schema":"http:\/\/schemas.sportradar.com\/bsa\/soccer\/v1\/json\/endpoints\/soccer\/player_profile.json","player":{"id":"sr:player:13249","name":"Bravo,
        Claudio","first_name":"Claudio","last_name":"Bravo","type":"goalkeeper","date_of_birth":"1983-04-13","nationality":"Chile","country_code":"CHL","height":184,"weight":80,"preferred_foot":"right","gender":"male"},"teams":[{"id":"sr:competitor:17","name":"Manchester
        City","country":"England","country_code":"ENG","abbreviation":"MCI"},{"id":"sr:competitor:4754","name":"Chile","country":"Chile","country_code":"CHL","abbreviation":"CHI"}],"roles":[{"type":"player","active":"true","team":{"id":"sr:competitor:17","name":"Manchester
        City","country":"England","country_code":"ENG","abbreviation":"MCI"},"start_date":"2016-08-25","jersey_number":1},{"type":"player","active":"false","team":{"id":"sr:competitor:2817","name":"FC
        Barcelona","country":"Spain","country_code":"ESP","abbreviation":"FCB"},"start_date":"2014-07-01","end_date":"2016-08-24","jersey_number":13},{"type":"player","active":"false","team":{"id":"sr:competitor:2824","name":"Real
        Sociedad","country":"Spain","country_code":"ESP","abbreviation":"RSO"},"start_date":"2006-07-01","end_date":"2014-06-30","jersey_number":1},{"type":"player","active":"false","team":{"id":"sr:competitor:3155","name":"Colo
        Colo","country":"Chile","country_code":"CHL","abbreviation":"COL"},"start_date":"2002-01-01","end_date":"2006-06-30"},{"type":"player","active":"true","team":{"id":"sr:competitor:4754","name":"Chile","country":"Chile","country_code":"CHL","abbreviation":"CHI"},"jersey_number":1}],"statistics":{"seasons":[{"id":"sr:season:12214","name":"Copa
        America 2016","statistics":{"matches_played":6,"substituted_in":0,"substituted_out":0,"goals_scored":0,"assists":0,"own_goals":0,"yellow_cards":1,"yellow_red_cards":0,"red_cards":0,"last_event_time":"2016-06-26T23:21:32+00:00"},"team":{"id":"sr:competitor:4754","name":"Chile","country":"Chile","country_code":"CHL","abbreviation":"CHI"},"tournament":{"id":"sr:tournament:133","name":"Copa
        America","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:4","name":"International"}},"season_coverage_info":{"season_id":"sr:season:12214","scheduled":34,"played":34,"max_coverage_level":"gold","max_covered":32,"min_coverage_level":"silver"}},{"id":"sr:season:11184","name":"Confederations
        Cup 2017","statistics":{"matches_played":3,"substituted_in":0,"substituted_out":0,"goals_scored":0,"assists":0,"own_goals":0,"yellow_cards":1,"yellow_red_cards":0,"red_cards":0,"last_event_time":"2017-07-02T19:48:14+00:00"},"team":{"id":"sr:competitor:4754","name":"Chile","country":"Chile","country_code":"CHL","abbreviation":"CHI"},"tournament":{"id":"sr:tournament:460","name":"Confederations
        Cup","sport":{"id":"sr:sport:1[...]
