---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/ncaafb-t1/2016/reg/schedule.json?api_key=8nxbfm6k546m7mscnmaf9ejh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-133.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '153'
      X-Via:
      - S3-Proxy
    body:
      encoding: UTF-8
      string: '{"season":2016,"type":"REG","weeks":[{"id":"1a297fbe-d5b0-4a8d-bcb8-06851dddd184","number":1,"games":[{"id":"1c4ee96d-3f08-43e1-8357-3bc2ee8bcaf8","scheduled":"2016-08-27T02:00:00+00:00","coverage":"full","home_rotation":"","away_rotation":"","home":"CAL","away":"HAW","status":"closed","neutral_site":true,"home_points":51,"away_points":31,"venue":{"id":"3b267e9e-fa59-40e3-aafc-50fc617e3e14","country":"AUS","name":"ANZ
        Stadium","city":"Sydney","state":"NSW","capacity":82500,"surface":"turf","type":"retractable_dome","address":"Edwin
        Flack Ave"},"broadcast":{"network":"ESPN","satellite":"206","internet":"WatchESPN"},"weather":{"temperature":61,"condition":"Sunny","humidity":36,"wind":{"speed":8,"direction":"W"}}},{"id":"6f5121d1-d813-4ba3-bdf3-badf6412fa4f","scheduled":"2016-08-27T23:30:00+00:00","coverage":"full","home_rotation":"","away_rotation":"","home":"NDS","away":"CCH","status":"closed","neutral_site":false,"home_points":24,"away_points":17,"venue":{"id":"15f6fe46-e622-413a-9646-45a6dd0b152d","country":"USA","name":"Fargodome","city":"Fargo","state":"ND","capacity":19000,"surface":"artificial","type":"dome","zip":"58102","address":"1800
        University Drive North"},"broadcast":{"network":"ESPN","satellite":"206","internet":"WatchESPN"},"weather":{"temperature":73,"condition":"Partly
        Cloudy ","humidity":61,"wind":{"speed":14,"direction":"SSE"}}},{"id":"9a39c485-9930-4f70-8a16-59d9bc5e7822","scheduled":"2016-09-01T22:00:00+00:00","coverage":"extended_boxscore","home_rotation":"","away_rotation":"","home":"WAG","away":"SAC","status":"closed","neutral_site":false,"home_points":38,"away_points":16[...]
