---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/mlb-t6/games/2017/reg/schedule.json?api_key=<MLB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"dd89cd1ed7b57722f14fc4c2591498b3"'
      Last-Modified:
      - Tue, 02 May 2017 15:50:49 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-120.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '422'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: '{"league":{"id":"2fa448bc-fc17-4d3d-be03-e60e080fdc26","name":"Major
        League Baseball","alias":"MLB"},"season":{"id":"a0d35b04-59fb-465a-8dce-f2c0894e753c","year":2017,"type":"REG"},"games":[{"id":"00404c04-9cbc-423f-ac20-0b6127998052","status":"closed","coverage":"full","attendance":16078,"duration":"3:14","game_number":1,"day_night":"D","scheduled":"2017-04-06T17:10:00+00:00","home_team":"aa34e0ed-f342-4ec6-b774-c79b47b60e2d","away_team":"833a51a9-0d84-410f-bd77-da08c3e5e26e","venue":{"id":"302f8dcd-eed6-4b83-8609-81548d51e955","name":"Target
        Field","market":"Minnesota","capacity":39021,"surface":"grass","address":"353
        N 5th Street","city":"Minneapolis","state":"MN","zip":"55403","country":"USA"},"broadcast":{"network":"FS-N"},"home":{"name":"Twins","market":"Minnesota","abbr":"MIN","id":"aa34e0ed-f342-4ec6-b774-c79b47b60e2d"},"away":{"name":"Royals","market":"Kansas
        City","abbr":"KC","id":"833a51a9-0d84-410f-bd77-da08c3e5e26e"}},{"id":"005fd5fc-098b-40f9-835b-8518b1063727","status":"scheduled","coverage":"full","game_number":1,"day_night":"N","scheduled":"2017-05-17T00:05:00+00:00","home_team":"55714da8-fcaf-4574-8443-59bfb511a524","away_team":"c874a065-c115-4e7d-b0f0-235584fb0e6f","venue":{"id":"53f8eb0d-a361-4a7a-930b-2f8735ea0698","name":"Wrigley
        Field","market":"Chicago","capacity":41072,"surface":"grass[...]
