---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/mlb-t6/seasontd/2017/reg/standings.json?api_key=<MLB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8b50a2c248d41029943e8af0b53521bd"'
      Last-Modified:
      - Tue, 02 May 2017 17:42:23 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-114.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '430'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: '{"league":{"id":"2fa448bc-fc17-4d3d-be03-e60e080fdc26","name":"Major
        League Baseball","alias":"MLB","season":{"id":"a0d35b04-59fb-465a-8dce-f2c0894e753c","year":2017,"type":"REG","leagues":[{"id":"fbe91704-36df-4e7c-864a-06d236425999","name":"National
        League","alias":"NL","divisions":[{"id":"dd76b332-7cfa-45f0-bed0-a6944d924a61","name":"West","alias":"W","teams":[{"name":"Rockies","market":"Colorado","abbr":"COL","id":"29dd9a87-5bcc-4774-80c3-7f50d985068b","win":16,"loss":10,"win_p":0.615,"home_win":7,"home_loss":6,"away_win":9,"away_loss":4,"streak":"L1","e_win":1,"e_loss":3,"c_win":3,"c_loss":1,"w_win":12,"w_loss":6,"al_win":0,"al_loss":0,"last_10_won":6,"last_10_lost":4,"games_back":0,"wild_card_back":0,"elimination_number":0},{"name":"Diamondbacks","market":"Arizona","abbr":"ARI","id":"25507be1-6a68-4267-bd82-e097d94b359b","win":16,"loss":11,"win_p":0.593,"home_win":12,"home_loss":5,"away_win":4,"away_loss":6,"streak":"W1","e_win":0,"e_loss":0,"c_win":0,"c_loss":0,"w_win":13,"w_loss":11,"al_win":3,"al_loss":0,"last_10_won":6,"last_10_lost":4,"games_back":0.5,"wild_card_back":0,"elimination_number":0},{"name":"Dodgers","market":"Los
        Angeles","abbr":"LAD","id":"ef64da7f-cfaf-4300-87b0-9313386b977c","win":14,[...]
[...]
