---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/league/hierarchy.json?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"65a405eb4598bf96fe70fb43f1e8b754"'
      Last-Modified:
      - Fri, 03 Mar 2017 15:49:31 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-131.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '125'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: '{"league":{"id":"3c6d318a-6164-4290-9bbc-bf9bb21cc4b8","name":"National
        Football League","alias":"NFL"},"conferences":[{"id":"1bdefe12-6cb2-4d6a-b208-b04602ae79c3","name":"AFC","alias":"AFC","divisions":[{"id":"b95cd27d-d631-4fe1-bc05-0ae47fc0b14b","name":"AFC
        East","alias":"AFC_EAST","teams":[{"name":"Bills","market":"Buffalo","alias":"BUF","id":"768c92aa-75ff-4a43-bcc0-f2798c2e1724","references":[{"id":"BUF","origin":"gsis"}],"venue":{"id":"e9e0828e-37fc-4238-a317-49037577dd55","name":"New
        Era Field","city":"Orchard Park","state":"NY","country":"USA","zip":"14127","address":"One
        Bills Drive","capacity":73079,"surface":"artificial","roof_type":"outdoor"}},{"name":"Dolphins","market":"Miami","alias":"MIA","id":"4809ecb0-abd3-451d-9c4a-92a90b83ca06","references":[{"id":"MIA","origin":"gsis"}],"venue":{"id":"50a5c833-1570-4c38-abc7-7914cf87dbde","name":"Hard
        Rock Stadium","city":"Miami Gardens","state":"FL","country":"USA","zip":"33056","address":"2269
        Northwest 199th Street","capacity":76100,"surface":"turf","roof_type":"outdoor"}},{"name":"Jets","market":"New
        York","alias":"NYJ","id":"5fee86ae-74ab-4bdd-8416-42a[...]
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/games/2017/reg/schedule.json?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"055a353d5b924af030329441bab4e78e"'
      Last-Modified:
      - Sun, 09 Jul 2017 22:22:59 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-135.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '126'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: '{"id":"3cf0e8ec-048d-4872-a706-b248c198831c","year":2017,"type":"REG","name":"REG","weeks":[{"id":"ba9ff0d2-7221-4cd1-ba9f-80a0b10ad659","sequence":1,"title":"1","games":[{"id":"057ded67-c019-4047-8d2d-2e71cbb771b9","status":"scheduled","reference":"57249","number":16,"scheduled":"2017-09-12T02:20:00+00:00","entry_mode":"INGEST","venue":{"id":"6589e61d-ef1e-4e30-91b5-9acd2072b8a0","name":"Sports
        Authority Field at Mile High","city":"Denver","state":"CO","country":"USA","zip":"80204","address":"1701
        Mile High Stadium Circle","capacity":76125,"surface":"turf","roof_type":"outdoor"},"home":{"name":"Denver
        Broncos","alias":"DEN","id":"ce92bd47-93d5-4fe9-ada4-0fc681e6caa0"},"away":{"name":"Los
        Angeles Chargers","alias":"LAC","id":"1f6dcffb-9823-43cd-9ff4-e7a8466749b5"},"broadcast":{"network":"ESPN","satellite":"206","internet":"WatchESPN"}},{"id":"0c556cf1-8e1a-4361-be73-7d84fd772aea","status":"scheduled","reference":"57241","number":8,"scheduled":"2017-09-10T17:00:00+00:00","entry_mode":"INGEST","venue":{"id":"50a5c833-1570-4c38-abc7-7914cf87dbde","name":"Hard
        Rock Stadium","city":"Miami Gardens","state":"FL","country":"USA","zip":"33056","address":"2269
        Northwest 199th Street","capacity":76100,"surface":"turf","roof_type":"outdoor"},"home":{"name":"Miami
        Dolphins","alias":"MIA","id":"4809ecb0[...]
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/seasontd/2017/standings.json?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-123.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '127'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '2'
    body:
      encoding: UTF-8
      string: '{"season":{"id":"3cf0e8ec-048d-4872-a706-b248c198831c","year":2017,"type":"REG","name":"REG"},"conferences":[{"id":"1bdefe12-6cb2-4d6a-b208-b04602ae79c3","alias":"AFC","name":"AFC","divisions":[{"id":"b95cd27d-d631-4fe1-bc05-0ae47fc0b14b","alias":"AFC_EAST","name":"AFC
        East","teams":[]},{"id":"eb60da78-4eb5-4184-971e-2c5cd4ab4988","alias":"AFC_NORTH","name":"AFC
        North","teams":[]},{"id":"e447e7c0-5997-4bb7-bea3-aaae48aedcb8","alias":"AFC_SOUTH","name":"AFC
        South","teams":[]},{"id":"324decdd-aa1b-4074-8958-c009d8fac31a","alias":"AFC_WEST","name":"AFC
        West","teams":[]}]},{"id":"b1808e5f-d40b-47c0-8af8-5175c0fdcd26","alias":"NFC","name":"NFC","divisions":[{"id":"6dab3ca1-b9cb-403f-91dd-b2a3708ab060","alias":"NFC_EAST","name":"NFC
        East","teams":[]},{"id":"6dc1933f-ca90-46e6-aaf7-9b95cc44306a","alias":"NFC_NORTH","name":"NFC
        North","teams":[]},{"id":"2a46bf95-b036-4c6c-b69f-a80c4b6c46bf","alias":"NFC_SOUTH","name":"NFC
        South","teams":[]},{"id":"390d000d-9949-42e6-bf5e-b166dc463675","alias":"NFC_WEST","name":"NFC
        West","teams":[]}]}],"_comment":"Generation started @ 2017-07-09 22:52:11
        +0000 ended @ 2017-07-09 22:52:11 +0000"}'
  recorded_at: Sun, 09 Jul 2017 22:52:48 GMT
recorded_with: VCR 3.0.3
