---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nba-t3/series/2015/pst/schedule.json?api_key=<NBA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7256abdabc39ee2e940c638b8e52d83f"'
      Last-Modified:
      - Wed, 30 Nov 2016 18:29:41 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-127.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '128'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: '{"league":{"id":"4353138d-4c22-4396-95d8-5f587d2df25c","name":"NBA","alias":"NBA"},"season":{"id":"529bed34-5a8d-46d4-9eef-114bd1340867","year":2015,"type":"PST"},"series":[{"id":"1a6e97a8-1d5b-4aac-950c-de50227b21eb","title":"Western
        Conference - First Round - POR vs LAC","status":"closed","round":1,"start_date":"2016-04-17","participants":[{"name":"Clippers","seed":4,"record":2,"team":{"id":"583ecdfb-fb46-11e1-82cb-f4ce4684ea4c","name":"Clippers","alias":"LAC","market":"Los
        Angeles"}},{"name":"Trail Blazers","seed":5,"record":4,"team":{"id":"583ed056-fb46-11e1-82cb-f4ce4684ea4c","name":"Trail
        Blazers","alias":"POR","market":"Portland"}}],"games":[{"id":"ad521859-9256-4b9e-8a92-e03b787cba24","title":"Game
        1","status":"closed","coverage":"full","neutral_site":false,"scheduled":"2016-04-18T02:30:00+00:00","home_points":115,"away_points":95,"venue":{"id":"792ec100-691e-5e16-8ef8-79b2b6ee38ba","name":"Staples
        Center","capacity":19060,"address":"1111 S. Figueroa St.","city":"Los Angeles","state":"CA","zip":"90015","country":"USA"},"broadcast":{"network":"TNT","satellite":"245"},"home":{"name":"Los
        Angeles Clippers","alias":"LAC","seed":4,"id":"583ecdfb-fb46-11e1-82cb-f4ce4684ea4c"},"away":{"name":"Portland
        Trail Blazers","alias":"POR","seed":5,"id":"583ed056-fb46-11e1-82cb-f4ce4684ea4c"}},{"id":"25bc2e22-4e75-49d8-88b9-7509dd72f115","title":"Game
        2","status":"closed","coverage":"full","neutral_site":false,"scheduled":"2016-04-21T02:30:00+00:00","home_points":102,"away_points":81,"venue":{"id":"792ec100-691e-5e16-8ef8-79b2b6ee38ba","name":"Staples
        Center","capacity":19060,"address":"1111 S. Figueroa St.","city":"Los Angeles","state":"CA","zip":"90015","country":"USA"},"broadcast":{"network":"TNT","satellite":"245"},"home":{"name":"Los
        Angeles Clippers","alias":"LAC","seed":4,"id":"583ecdfb-fb46-11e1-82cb-f4ce4684ea4c"},"away":{"name":"Portland
        Trail Blazers","alias":"POR","seed":5,"id":"583ed056-fb46-11e1-82cb-f4ce4684ea4c"}},{"id":"08aa7175-dd56-46ff-8419-cc4245349d26","title":"Game
        3","status":"closed","coverage":"full","neutral_site":false,"scheduled":"2016-04-24T02:30:00+00:00","home_points":96,"away_points":88,"venue":{"id":"1d1f74a2-7b35-56f0-8cbd-552c51cb2c14","name":"Moda
        Center","capacity":19980,"address":"1 Center Court","city":"Portland","state":"OR","zip":"97227","country":"USA"},"broadcast":{"network":"ESPN","satellite":"206","internet":"WatchESPN"},"home":{"name":"Portland
        Trail Blazers","alias":"POR","seed":5,"id":"583ed056-fb46-11e1-82cb-f4ce4684ea4c"},"away":{"name":"Los
        Angeles Clippers","alias":"LAC","seed":4,"id":"583ecdfb-fb46-11e1-82cb-f4ce4684ea4c"}},{"id":"a1dd03fa-6134-4d2c-b5a5-acc1238cb488","title":"Game
        4","status":"closed","coverage":"full","neutral_site":false,"scheduled":"2016-04-26T02:30:00+00:00","home_points":98,"away_points":84,"venue":{"id":"1d1f74a2-7b35-56f0-8cbd-552c51cb2c14","n[...]
