---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nba-t3/seasontd/2016/reg/standings.json?api_key=<NBA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0e8b380333e346bbc29f849a58f4f5be"'
      Last-Modified:
      - Sat, 28 Jan 2017 00:43:44 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-127.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '20594'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '2'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: '{"league":{"id":"4353138d-4c22-4396-95d8-5f587d2df25c","name":"NBA","alias":"NBA"},"season":{"id":"03241c9e-731b-40d0-a36f-bcc9932d055b","year":2016,"type":"REG"},"conferences":[{"id":"3960cfac-7361-4b30-bc25-8d393de6f62f","name":"EASTERN
        CONFERENCE","alias":"EASTERN","divisions":[{"id":"54dc7348-c1d2-40d8-88b3-c4c0138e085d","name":"Southeast","alias":"SOUTHEAST","teams":[{"id":"583ecb8f-fb46-11e1-82cb-f4ce4684ea4c","name":"Hawks","market":"Atlanta","wins":27,"losses":19,"win_pct":0.587,"points_for":103.33,"points_against":103.04,"point_diff":0.28,"games_behind":{"league":12.0,"conference":4.0,"division":0.0},"streak":{"kind":"win","length":1},"records":[{"record_type":"atlantic","wins":7,"losses":3,"win_pct":0.7},{"record_type":"below_500","wins":14,"losses":10,"win_pct":0.583},{"record_type":"central","wins":9,"losses":2,"win_pct":0.818},{"record_type":"conference","wins":20,"losses":9,"win_pct":0.69},{"record_type":"division","wins":4,"losses":4,"win_pct":0.5},{"record_type":"home","wins":13,"losses":9,"win_pct":0.591},{"record_type":"last_10","wins":7,"losses":3,"win_pct":0.7},{"record_type":"last_10_home","wins":6,"losses":4,"win_pct":0.6},{"record_type":[...]
- request:
    method: get
    uri: https://api.sportradar.us/nba-p3/seasontd/2016/reg/standings.json?api_key=nexfrwh853qqh45grhfcs2fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0e8b380333e346bbc29f849a58f4f5be"'
      Last-Modified:
      - Sat, 28 Jan 2017 01:18:40 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-126.mashery.com
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '2'
      X-Plan-Quota-Allotted:
      - '910000'
      X-Plan-Quota-Current:
      - '324308'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: '{"league":{"id":"4353138d-4c22-4396-95d8-5f587d2df25c","name":"NBA","alias":"NBA"},"season":{"id":"03241c9e-731b-40d0-a36f-bcc9932d055b","year":2016,"type":"REG"},"conferences":[{"id":"3960cfac-7361-4b30-bc25-8d393de6f62f","name":"EASTERN
        CONFERENCE","alias":"EASTERN","divisions":[{"id":"54dc7348-c1d2-40d8-88b3-c4c0138e085d","name":"Southeast","alias":"SOUTHEAST","teams":[{"id":"583ecb8f-[...]
