---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nba-p3/games/3700bb52-50f0-4929-b6b0-ae0b3cbad019/pbp.xml?api_key=<NBA_PRODUCTION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"38c2b9c60e2903f1499bbe8f6c102398"'
      Last-Modified:
      - Sat, 21 Jan 2017 02:33:46 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-112.mashery.com
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '910000'
      X-Plan-Quota-Current:
      - '269094'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <?xml-stylesheet type="text/xsl" charset="UTF-8" href="/xslt/basketball/pbp-v2.0.xsl"?>
        <!-- Generation started @ 2017-01-21 02:33:40 +0000 -->
        <game xmlns="http://feed.elasticstats.com/schema/basketball/pbp-v2.0.xsd" id="3700bb52-50f0-4929-b6b0-ae0b3cbad019" status="closed" coverage="full" neutral_site="false" home_team="583ec97e-fb46-11e1-82cb-f4ce4684ea4c" away_team="583ecda6-fb46-11e1-82cb-f4ce4684ea4c" scheduled="2017-01-21T00:00:00+00:00" duration="2:03" attendance="18378" lead_changes="1" times_tied="1" clock="00:00" quarter="4">
          <scoring>
            <home name="Hornets" market="Charlotte" id="583ec97e-fb46-11e1-82cb-f4ce4684ea4c" points="113"/>
            <away name="Raptors" market="Toronto" id="583ecda6-fb46-11e1-82cb-f4ce4684ea4c" points="78"/>
          </scoring>
          <quarter id="39b0dad0-1cbe-44a7-a5d5-b938c56e55dd" number="1" sequence="1">
            <scoring>
              <home name="Hornets" market="Charlotte" id="583ec97e-fb46-11e1-82cb-f4ce4684ea4c" points="26"/>
              <away name="Raptors" market="Toronto" id="583ecda6-fb46-11e1-82cb-f4ce4684ea4c" points="18"/>
            </scoring>
            <events>
              <event id="72e1469e-458d-4d5a-b6c5-fc174d50a440" event_type="opentip" clock="12:00" updated="2017-01-21T00:11:13+00:00">
                <description>Jonas Valanciunas vs. Cody Zeller (Kyle Lowry gains possession)</description>
                <attribution name="Raptors" market="Toronto" id="583ecda6-fb46-11e1-82cb-f4ce4684ea4c" team_basket="right"/>
                <location coord_x="566" coord_y="294"/>
                <possession name="Raptors" market="Toronto" id="583ecda6-fb46-11e1-82cb-f4ce4684ea4c"/>
                <on_court>
                  <home name="Hornets" market="Charlotte" id="583ec97e-fb46-11e1-82cb-f4ce4684ea4c">
                    <player full_name="Nicolas Batum" jersey_number="5" id="a89ac040-715d-4057-8fc0-9d71ad06fa0a"/>
                    <player full_name="Michael Kidd-Gilchrist" jersey_number="14" id="ea8a18e4-1341-48f1-b75d-5bbac8d789d4"/>
                    <player full_name="Kemba Walker" jersey_number="15" id="a35ee8ed-f1db-4f7e-bb17-f823e8ee0b38"/>
                    <player full_name="Marvin Williams" jersey_number="2" id="e17a3191-b05c-4878-8be6-21028b8ec007"/>
                    <player full_name="Cody Zeller" [...]
