---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nba-t3/games/fdebfa54-dbdb-4992-baa0-729394bd9610/pbp.xml?api_key=<NBA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"14b025b5a13e0f20ecdbf128b497c4c2"'
      Last-Modified:
      - Thu, 06 Oct 2016 17:04:19 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-122.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '22282'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <?xml-stylesheet type="text/xsl" charset="UTF-8" href="/xslt/basketball/pbp-v2.0.xsl"?>
        <!-- Generation started @ 2016-10-06 17:04:17 +0000 -->
        <game xmlns="http://feed.elasticstats.com/schema/basketball/pbp-v2.0.xsd" id="fdebfa54-dbdb-4992-baa0-729394bd9610" status="scheduled" coverage="full" home_team="583ece50-fb46-11e1-82cb-f4ce4684ea4c" away_team="583ecd4f-fb46-11e1-82cb-f4ce4684ea4c" scheduled="2017-04-13T02:30:00+00:00">
          <scoring>
            <home name="Utah Jazz" alias="UTA" id="583ece50-fb46-11e1-82cb-f4ce4684ea4c" points="0"/>
            <away name="San Antonio Spurs" alias="SAS" id="583ecd4f-fb46-11e1-82cb-f4ce4684ea4c" points="0"/>
          </scoring>
        </game>
        <!-- Generation ended @ 2016-10-06 17:04:17 +0000 -->
  recorded_at: Thu, 26 Jan 2017 00:01:40 GMT
recorded_with: VCR 3.0.3
