---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nba-p3/games/3700bb52-50f0-4929-b6b0-ae0b3cbad019/summary.xml?api_key=nexfrwh853qqh45grhfcs2fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"a76dae784652a6f1c66417f8f78a5aac"'
      Last-Modified:
      - Sat, 21 Jan 2017 02:33:42 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-126.mashery.com
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '910000'
      X-Plan-Quota-Current:
      - '269092'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <?xml-stylesheet type="text/xsl" charset="UTF-8" href="/xslt/basketball/summary-v2.0.xsl"?>
        <!-- Generation started @ 2017-01-21 02:33:40 +0000 -->
        <game xmlns="http://feed.elasticstats.com/schema/basketball/game-v2.0.xsd" id="3700bb52-50f0-4929-b6b0-ae0b3cbad019" status="closed" coverage="full" neutral_site="false" home_team="583ec97e-fb46-11e1-82cb-f4ce4684ea4c" away_team="583ecda6-fb46-11e1-82cb-f4ce4684ea4c" scheduled="2017-01-21T00:00:00+00:00" duration="2:03" attendance="18378" lead_changes="1" times_tied="1" clock="00:00" quarter="4">
          <venue id="a380f011-6e5d-5430-9f37-209e1e8a9b6f" name="Spectrum Center" capacity="19077" address="330 E. Trade St." city="Charlotte" state="NC" zip="28202" country="USA"/>
          <team name="Hornets" market="Charlotte" id="583ec97e-fb46-11e1-82cb-f4ce4684ea4c" points="113" home="true">
            <scoring>
              <quarter number="1" sequence="1" points="26"/>
              <quarter number="2" sequence="2" points="29"/>
              <quarter number="3" sequence="3" points="33"/>
              <quarter number="4" sequence="4" points="25"/>
            </scoring>
            <statistics minutes="4:00:00" field_goals_made="40" field_goals_att="80" field_goals_pct="50.0" three_points_made="12" three_points_att="25" three_points_pct="48.0" two_points_made="28" two_points_att="55" two_points_pct="50.909" blocked_att="6" free_throws_made="21" free_throws_att="25" free_throws_pct="84.0" offensive_rebounds="11" defensive_rebounds="40" rebounds="51" assists="24" turnovers="14" steals="9" blocks="4" assists_turnover_ratio="1.71" personal_fouls="13" ejections="0" foulouts="0" points="113" fast_break_pts="12" paint_pts="42" second_chance_pts="12" team_turnovers="2" points_off_turnovers="19" team_rebounds="12" flagrant_fouls="0" player_tech_fouls="0" team_tech_fouls="0" coach_tech_fouls="0"/>
            <players>
              <player full_name="Christian Wood" first_name="Christian" last_name="Wood" position="F" primary_position="PF" jersey_number="35" id="98100660-988b-4e71-a89e-f35839964483">
                <statistics minutes="00:00" field_goals_made="0" field_goals_att="0" field_goals_pct="0.0" three_points_made="0" three_points_att="0" three_points_pct="0.0" two_points_made="0" two_points_att="0" two_points_pct="0.0" blocked_att="0" free_throws_made="0" free_throws_att="0" free_throws_pct="0.0" offensive_rebounds="0" d[...]
