---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/ncaamb-t3/teams/9b166a3f-e64b-4825-bb6b-92c6f0418263/profile.xml?api_key=<NCAAMB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"2273f1ef87d97b6c29c3606a5dd8a340"'
      Last-Modified:
      - Wed, 07 Dec 2016 02:38:51 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-119.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '118'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Generation started @ 2016-12-07 02:38:49 +0000 -->
        <team xmlns="http://feed.elasticstats.com/schema/basketball/team-v2.0.xsd" id="9b166a3f-e64b-4825-bb6b-92c6f0418263" name="Wildcats" alias="ARIZ" market="Arizona">
          <venue id="60c78748-ee0e-4764-9c8c-141e876d2abf" name="McKale Center" capacity="14655" address="1 National Championship Drive" city="Tuscon" state="AZ" zip="85721" country="USA"/>
          <hierarchy>
            <league id="cd4268ee-07aa-4c4d-a435-ec44ad2c76cb" name="NCAA MEN" alias="NCAAM"/>
            <division id="c5a8d640-5093-4044-851d-2c562e929994" name="NCAA Division I" alias="D1"/>
            <conference id="04d5255d-b2dc-43df-9fa8-d296b0f8ccd7" name="Pacific 12" alias="PAC12"/>
          </hierarchy>
          <coaches>
            <coach id="84cd600c-baca-4764-aef3-66c58d179a73" full_name="Sean Miller" first_name="Sean" last_name="Miller" position="Head Coach" experience="10 seasons"/>
          </coaches>
          <players>
            <player id="00452894-e61a-44fb-aa2a-9345301d29e8" status="ACT" full_name="Paulo Cruz" first_name="Paulo" last_name="Cruz" abbr_name="P.Cruz" height="76" weight="210" position="G" primary_position="PG" jersey_number="51" experience="SO" birth_place="San Diego, CA, USA" updated="2016-09-08T21:28:08+00:00">
            </player>
            <player id="04a08754-75e3-4f6c-9909-4c79c3ff5b4c" status="ACT" full_name="Dylan Smith" first_name="Dylan" last_name="Smith" abbr_name="D.Smith" height="77" weight="170"[...]
