---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/ncaamb-t3/seasontd/2016/reg/teams/9b166a3f-e64b-4825-bb6b-92c6f0418263/statistics.xml?api_key=<NCAAMB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"286951657cbe32058b83c10126034e2c"'
      Last-Modified:
      - Sun, 22 Jan 2017 01:02:07 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-109.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '115'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Generation started @ 2017-01-22 01:02:06 +0000 -->
        <season xmlns="http://feed.elasticstats.com/schema/basketball/statistics-v2.0.xsd" id="a627bb7b-f311-455d-91a8-00a53093c2ac" year="2016" type="REG">
          <team id="9b166a3f-e64b-4825-bb6b-92c6f0418263" name="Wildcats" market="Arizona">
            <team_records>
              <overall>
                <total games_played="20" minutes="4000.0" field_goals_made="528" field_goals_att="1110" three_points_made="126" three_points_att="319" blocked_att="53" free_throws_made="340" free_throws_att="446" offensive_rebounds="178" defensive_rebounds="521" assists="282" turnovers="240" steals="119" blocks="67" personal_fouls="343" tech_fouls="3" points="1522" fast_break_pts="122" paint_pts="630" flagrant_fouls="0" points_off_turnovers="324" second_chance_pts="216" ejections="0" foulouts="6" free_throws_pct="0.762" two_points_pct="0.508" three_points_pct="0.395" field_goals_pct="0.476" rebounds="699" assists_turnover_ratio="1.18" two_points_made="402" two_points_att="791"/>
                <average second_chance_pts="10.8" points_off_turnovers="16.2" paint_pts="31.5" fast_break_pts="6.1" points="76.1" blocked_att="2.65" turnovers="12.0" free_throws_att="22.3" field_goals_att="55.5" off_rebounds="8.9" two_points_att="39.55" assists="14.1" blocks="3.35" personal_fouls="17.15" two_points_made="20.1" flagrant_fouls="0.0" rebounds="34.95" three_points_made="6.3" minutes="200.0" def_rebounds="26.05" free_throws_made="17.0" field_goals_made="26.4" steals="5.95" three_points_att="15.95"/>
              </overall>
              <opponents>
                <total games_played="20" minutes="4000.0" field_goals_made="463" field_goals_att="1163" three_points_made="128" three_points_att="429" blocked_att="55" free_throws_made="206" free_throws_att="318" offensive_rebounds="166" defensive_rebounds="388" assists="246" turnovers="250" steals="93" blocks="54" personal_fouls="399" tech_fouls="4" points="1260" fast_break_pts="79" paint_pts="506" flagrant_fouls="2" points_off_turnovers="233" second_chance_pts="203" ejections="0" foulouts="3" free_throws_pct="0.648" two_points_pct="0.456" three_points_pct="0.298" field_goals_pct="0.398" rebounds="554" assists_turnover_ratio="0.98" two_points_made="335" two_points_att="734"/>
                <average second_chance_pts="10.15" points_off_turnovers="11.65" paint_pts="25.3" fast_break_pts="3.95" points="63.0" blocked_att="2.75" turnovers="12.5" free_throws_att="15.9" field_goals_att="58.15" off_rebounds="8.3" two_points_att="36.7" assists="12.3" blocks="2.7" personal_fouls="19.95" two_points_made="16.75" flagrant_fouls="0.1" rebounds="27.7" three_points_made="6.4" minutes="200.0" def_rebounds="19.4" free_throws_made="10.3" field_goals_made="23.15" steals="4.65" three_points_att="21.45"/>
              </opponents>
            </team_records>
            <player_records>
              <player id="41f66d58-0602-4e11-b0e6-75814aeaa38e" full_name="Allonzo Trier" first_name="Allonzo" last_name="Trier" position="G" primary_position="NA" jersey_number="35">
                <overall>
                  <total games_played="1" games_started="0" minutes="27.0" field_goals_made="4" field_goals_att="10" three_points_made="1" three_points_att="4" blocked_att="2" free_throws_made="3" free_throws_att="4" offensive_rebounds="0" defensive_rebounds="7" assists="4" turnovers="1" steals="1" blocks="0" p[...]
