---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nhl-t3/league/hierarchy.json?api_key=<NHL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json;charset=utf-8
      X-Be-Cache:
      - MISS
      X-Fe-Cache:
      - MISS
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-112.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '3'
      X-Via:
      - Translation-Proxy
    body:
      encoding: UTF-8
      string: '{"league":{"id":"fd560107-a85b-4388-ab0d-655ad022aff7","name":"NHL","alias":"NHL"},"conferences":[{"id":"64901512-9ca9-4bea-aa80-16dbcbdae230","name":"WESTERN
        CONFERENCE","alias":"WESTERN","divisions":[{"id":"17101b65-e8b9-4cda-a963-eea874aed81f","name":"Pacific","alias":"PACIFIC","teams":[{"id":"42376e1c-6da8-461e-9443-cfcf0a9fcc4d","name":"Golden
        Knights","market":"Vegas","alias":"VGK","venue":{"id":"17d90f56-d6fc-4d73-9cc7-4991d6da72f4","name":"T-Mobile
        Arena","capacity":17500,"address":"3780 South Las Vegas Boulevard","city":"Paradise","state":"NV","zip":"89158","country":"USA","time_zone":"US/Pacific"}},{"id":"44151f7a-0f24-11e2-8525-18a905767e44","name":"Kings","market":"Los
        Angeles","alias":"LA","venue":{"id":"dec253d4-68df-470b-b8fc-d663a7fa4704","name":"Staples
        Center","capacity":18230,"address":"1111 S. Figueroa St.","city":"Los Angeles","state":"CA","zip":"90015","country":"USA","time_zone":"US/Pacific"}},{"id":"44153da1-0f24-11e2-8525-18a905767e44","name":"Coyotes","market":"Arizona","alias":"ARI","venue":{"id":"71ca386d-fbaa-479f-b9b6-7858ef2d3cc7","name":[...]
