---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nhl-t3/games/2017/reg/schedule.json?api_key=<NHL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json;charset=utf-8
      X-Be-Cache:
      - MISS
      X-Fe-Cache:
      - MISS
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-134.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '1'
      X-Via:
      - Translation-Proxy
    body:
      encoding: UTF-8
      string: '{"league":{"id":"fd560107-a85b-4388-ab0d-655ad022aff7","name":"NHL","alias":"NHL"},"season":{"id":"1ddb5f48-b45c-4ebf-8db9-04c8c2e2f9c3","year":2017,"type":"REG"},"games":[{"id":"6cbe1593-9d60-4a4f-89d7-8b5d88263dc3","status":"scheduled","coverage":"full","scheduled":"2017-10-04T23:00:00+00:00","venue":{"id":"900327b2-73d0-4e44-a138-fbf4fcbb058f","name":"Bell
        MTS Place","capacity":15294,"address":"300 Portage Ave.","city":"Winnipeg","state":"MB","zip":"R3C
        5S5","country":"CAN","time_zone":"US/Central"},"broadcast":{"network":"SN"},"home":{"id":"44180e55-0f24-11e2-8525-18a905767e44","name":"Winnipeg
        Jets","alias":"WPG"},"away":{"id":"441730a9-0f24-11e2-8525-18a905767e44","name":"Toronto
        Maple Leafs","alias":"TOR"}},{"id":"a8ebded0-884f-4dc3-9f4b-2d044bf839f4","status":"scheduled","coverage":"full","scheduled":"2017-10-05T00:00:00+00:00","venue":{"id":"09cab1a6-16ee-4ed9-aefa-c6cc24681b3b","name":"PPG
        Paints Arena","capacity":18387,"address":"1001 Fifth Ave.","city":"Pittsburgh","state":"PA","zip":"15219","country":"USA","time_zone":"US/Eastern"},"broadcast":{"network":"NBCSN","satellite":"220"},"home":{"id":"4417b7d7-0f24-11e2-8525-18a905767e44","name":"Pittsburgh
        Penguins","alias":"PIT"},"away":{"id":"441660ea-0f24-11e2-8525-18a905767e44","name":"St.
        Louis Blues","alias":"STL"}},{"id":"cb97ba53-850a-41aa-a27f-0bd1259e418a","status":"scheduled","coverage":"full","scheduled":"2017-10-05T02:00:00+00:00","venue":{"id":"5d6670d2-01ea-4bc2-ae88-93563620328d","name":"Rogers
        Place","capacity":18641,"address":"10220 104 Avenue NW","city":"Edmonton","state":"AB","[...]
- request:
    method: get
    uri: https://api.sportradar.us/nhl-t3/games/2017/REG/schedule.json?api_key=<NHL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json;charset=utf-8
      X-Be-Cache:
      - MISS
      X-Fe-Cache:
      - MISS
      X-Mashery-Responder:
      - prod-j-w[...]
