---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nhl-t3/seasontd/2016/reg/standings.json?api_key=<NHL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Be-Cache:
      - MISS
      X-Fe-Cache:
      - MISS
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-125.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '10'
      X-Via:
      - Content-Proxy
    body:
      encoding: UTF-8
      string: '{"league":{"id":"fd560107-a85b-4388-ab0d-655ad022aff7","name":"NHL","alias":"NHL"},"season":{"id":"2088d463-6504-4979-a216-8553952091be","year":2016,"type":"REG"},"conferences":[{"id":"64901512-9ca9-4bea-aa80-16dbcbdae230","name":"WESTERN
        CONFERENCE","alias":"WESTERN","divisions":[{"id":"17101b65-e8b9-4cda-a963-eea874aed81f","name":"Pacific","alias":"PACIFIC","teams":[{"id":"441862de-0f24-11e2-8525-18a905767e44","name":"Ducks","market":"Anaheim","games_played":82,"wins":46,"losses":23,"overtime_losses":13,"win_pct":0.561,"points":105,"regulation_wins":43,"shootout_wins":3,"shootout_losses":3,"goals_for":223,"goals_against":200,"goal_diff":23,"powerplays":251,"powerplay_goals":47,"powerplay_pct":18.7,"powerplays_against":281,"powerplay_goals_against":42,"penalty_killing_pct":85.1,"streak":{"kind":"win","length":4},"records":[{"record_type":"atlantic","wins":9,"losses":4,"overtime_losses":3,"win_pct":0.563,"points":21},{"record_type":"central","wins":12,"losses":7,"overtime_losses":2,"win_pct":0.571,"points":26},{"record_type":"conference","wins":30,"losses":13,"overtime_losses":7,"win_pct":0.6,"points":67},{"record_type":"division","wins":18,"losses":6,"overtime_losses":5,"win_pct":0.621,"points":41},{"record_type":"home","wins":29,"losses":8,"overtime_losses":4,"win_pct":0.707,"points":62},{"record_type":"last_10","wins":8,"losse[...]
