---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/ncaamb-t3/seasontd/2016/reg/teams/9b166a3f-e64b-4825-bb6b-92c6f0418263/statistics.json?api_key=<NCAAMB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cbf24c35947aaecabbb3128218502abe"'
      Last-Modified:
      - Fri, 27 Jan 2017 05:22:05 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-119.mashery.com
      X-Packagekey-Quota-Allotted:
      - '1250'
      X-Packagekey-Quota-Current:
      - '12'
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: '{"id":"9b166a3f-e64b-4825-bb6b-92c6f0418263","name":"Wildcats","market":"Arizona","season":{"id":"a627bb7b-f311-455d-91a8-00a53093c2ac","year":2016,"type":"REG"},"own_record":{"total":{"games_played":21,"minutes":4200.0,"field_goals_made":557,"field_goals_att":1161,"three_points_made":135,"three_points_att":339,"blocked_att":54,"free_throws_made":352,"free_throws_att":460,"offensive_rebounds":183,"defensive_rebounds":547,"assists":299,"turnovers":249,"steals":124,"blocks":69,"personal_fouls":356,"tech_fouls":3,"points":1601,"fast_break_pts":131,"paint_pts":660,"flagrant_fouls":0,"points_off_turnovers":338,"second_chance_pts":222,"ejections":0,"foulouts":6,"free_throws_pct":0.765,"two_points_pct":0.513,"three_points_pct":0.398,"field_goals_pct":0.48,"rebounds":730,"assists_turnover_ratio":1.2,"two_points_made":422,"two_points_att":822},"average":{"second_chance_pts":10.57,"points_off_turnovers":16.1,"paint_pts":31.43,"fast_break_pts":6.24,"points":76.2,"blocked_att":2.57,"turnovers":11.86,"free_throws_att":21.9,"field_goals_att":55.29,"off_rebounds":8.71,"two_points_att":39.14,"assists":14.2,"blocks":3.29,"personal_fouls":16.95,"two_points_made":20.1,"flagrant_fouls":0.0,"rebounds":34.76,"three_points_made":6.43,"minutes":200.0,"def_rebounds":26.05,"free_throws_made":16.76,"field_goals_made":26.52,"steals":5.9,"three_points_att":16.14}},"opponents":{"total":{"games_played":21,"minutes":4200.0,"field_goals_made":487,"field_goals_att":1214,"three_points_made":132,"three_points_att":445,"blocked_att":57,"free_throws_made":216,"free_throws_att":332,"offensive_rebounds":169,"defensive_rebounds":405,"assists":258,"turnovers":259,"steals":96,"blocks":55,"personal_fouls":412,"tech_fouls":4,"points":1322,"fast_break_pts":89,"paint_pts":536,"flagrant_fouls":2,"points_off_turnovers":235,"second_chance_pts":209,"ejections":0,"foulouts":3,"free_throws_pct":0.651,"two_points_pct":0.462,"three_points_pct":0.297,"field_goals_pct":0.401,"rebounds":574,"assists_turnover_ratio":1.0,"two_points_made":355,"two_points_att":769},"average":{"second_chance_pts":9.95,"points_off_turnovers":11.19,"paint_pts":25.52,"fast_break_pts":4.24,"points":63.0,"blocked_att":2.71,"turnovers":12.33,"free_throws_att":15.81,"field_goals_att":57.81,"off_rebounds":8.05,"two_points_att":36.62,"assists":12.3,"blocks":2.62,"personal_fouls":19.62,"two_points_made":16.9,"flagrant_fouls":0.1,"rebounds":27.33,"three_points_made":6.29,"minutes":200.0,"def_rebounds":19.29,"free_throws_made":10.29,"field_goals_made":23.19,"steals":4.57,"three_points_att":21.19}},"players":[{"id":"41f66d58-0602-4e11-b0e6-75814aeaa38e","full_name":"Allonzo
        Trier","first_name":"Allonzo","last_name":"Trier","position":"G","primary_position":"NA","jersey_number":"35","total":{"games_played":2,"games_started":0,"minutes":52.0,"field_goals_made":10,"field_goals_att":22,"three_points_made":3,"three_points_att":10,"blocked_att":2,"free_throws_made":6,"free_throws_att":8,"offensive_rebounds":0,"defensive_rebounds":9,"assists":11,"turnovers":2,"steals":1,"blocks":0,"personal_fouls":1,"tech_fouls":0,"points":29,"flagrant_fouls":0,"ejections":0,"foulouts":0,"free_throws_pct":0.75,"two_points_pct":0.583,"three_points_pct":0.3,"field_goals_pct":0.455,"rebounds":9,"assists_turnover_ratio":5.5,"two_points_made"[...]
