---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nba-t3/games/2017/1/20/schedule.xml?api_key=<NBA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"ba90d098fe7170e947dcf0be4050729b"'
      Last-Modified:
      - Tue, 24 Jan 2017 22:11:39 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-127.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '22285'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <?xml-stylesheet type="text/xsl" charset="UTF-8" href="/xslt/basketball/schedule-v2.0.xsl"?>
        <!-- Generation started @ 2017-01-24 22:11:38 +0000 -->
        <league xmlns="http://feed.elasticstats.com/schema/basketball/schedule-v2.0.xsd" id="4353138d-4c22-4396-95d8-5f587d2df25c" name="NBA" alias="NBA">
          <daily-schedule date="2017-01-20">
            <games>
              <game id="3700bb52-50f0-4929-b6b0-ae0b3cbad019" status="closed" coverage="full" home_team="583ec97e-fb46-11e1-82cb-f4ce4684ea4c" away_team="583ecda6-fb46-11e1-82cb-f4ce4684ea4c" scheduled="2017-01-21T00:00:00+00:00" home_points="113" away_points="78">
                <venue id="a380f011-6e5d-5430-9f37-209e1e8a9b6f" name="Spectrum Center" capacity="19077" address="330 E. Trade St." city="Charlotte" state="NC" zip="28202" country="USA"/>
                <home name="Charlotte Hornets" alias="CHA" id="583ec97e-fb46-11e1-82cb-f4ce4684ea4c">
                </home>
                <away name="Toronto Raptors" alias="TOR" id="583ecda6-fb46-11e1-82cb-f4ce4684ea4c">
                </away>
                <broadcast network="FS-SE" satellite="649-1"/>
              </game>
              <game id="5dd51aab-9294-4750-b59b-6bb85192d58f" status="closed" coverage="full" home_team="583ec87d-fb46-11e1-82cb-f4ce4684ea4c" away_team="583ed056-fb46-11e1-82cb-f4ce4684ea4c" scheduled="2017-01-21T00:00:00+00:00" home_points="93" away_points="92">
                <venue id="b3dca541-859e-5301-bf90-4ec677a514a9" name="Wells Fargo Center" capacity="20328" address="3601 S. Broad St." city="Philadelphia" state="PA" zip="19148[...]
