---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nba-t3/league/hierarchy.xml?api_key=<NBA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"ecfc007ae0ae35766d65014569896a57"'
      Last-Modified:
      - Tue, 24 Jan 2017 19:10:18 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-112.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '22280'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Generation started @ 2017-01-24 19:10:18 +0000 -->
        <league xmlns="http://feed.elasticstats.com/schema/basketball/nba/hierarchy-v2.0.xsd" id="4353138d-4c22-4396-95d8-5f587d2df25c" name="NBA" alias="NBA">
          <conference id="3960cfac-7361-4b30-bc25-8d393de6f62f" name="EASTERN CONFERENCE" alias="EASTERN">
            <division id="54dc7348-c1d2-40d8-88b3-c4c0138e085d" name="Southeast" alias="SOUTHEAST">
              <team id="583ec8d4-fb46-11e1-82cb-f4ce4684ea4c" name="Wizards" market="Washington" alias="WAS">
                <venue id="f62d5b49-d646-56e9-ba60-a875a00830f8" name="Verizon Center" capacity="20356" address="601 F St. N.W." city="Washington" state="DC" zip="20004" country="USA"/>
              </team>
              <team id="583ec97e-fb46-11e1-82cb-f4ce4684ea4c" name="Hornets" market="Charlotte" alias="CHA">
                <venue id="a380f011-6e5d-5430-9f37-209e1e8a9b6f" name="Spectrum Center" capacity="19077" address="330 E. Trade St." city="Charlotte" state="NC" zip="28202" country="USA"/>
              </te[...]
