---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nba-t3/games/2016/reg/schedule.xml?api_key=<NBA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"49572fb84b60793df0566943963ce47a"'
      Last-Modified:
      - Wed, 25 Jan 2017 23:47:32 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-119.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '22276'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <?xml-stylesheet type="text/xsl" charset="UTF-8" href="/xslt/basketball/schedule-v2.0.xsl"?>
        <!-- Generation started @ 2017-01-25 23:47:28 +0000 -->
        <league xmlns="http://feed.elasticstats.com/schema/basketball/schedule-v2.0.xsd" id="4353138d-4c22-4396-95d8-5f587d2df25c" name="NBA" alias="NBA">
          <season-schedule id="03241c9e-731b-40d0-a36f-bcc9932d055b" year="2016" type="REG">
            <games>
              <game id="0da78f13-73ac-4465-8e31-ecc3029a5dc6" status="closed" coverage="full" home_team="583ec773-fb46-11e1-82cb-f4ce4684ea4c" away_team="583ec70e-fb46-11e1-82cb-f4ce4684ea4c" scheduled="2016-10-25T23:30:00+00:00" home_points="117" away_points="88">
                <venue id="42cddf7a-0e1f-5f91-ae6f-c620582fdb01" name="Quicken Loans Arena" capacity="20562" address="One Center Court" city="Cleveland" state="OH" zip="44115" country="USA"/>
                <home name="Cleveland Cavaliers" alias="CLE" id="583ec773-fb46-11e1-82cb-f4ce4684ea4c">
                </home>
                <away name="New York Knicks" alias="NYK" id="583ec70e-fb46-11e1-82cb-f4ce4684ea4c">
                </away>
                <broadcast network="TNT" satellite="245"/>
              </game>
              <game id="5166289e-69f2-4761-854e-4c72a43d8d9c" status="closed" coverage="full" home_team="583ed056-fb46-11e1-82cb-f4ce4684ea4c" away_team="583ece50-fb46-11e1-82cb-f4ce4684ea4c" scheduled="2016-10-26T02:00:00+00:00" home_points="113" away_points="104">
                <venue id="1d1f74a2-7b35-56f0-8cbd-552c51cb2c14" name="Moda Center" capacity="19980" address="1 Center Court" city="Portland" state="OR" zip="97227" country="USA"/[...]
