---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nba-t3/seasontd/2016/reg/standings.xml?api_key=<NBA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"bdce35fab73c8d61b685d2ea55a4529d"'
      Last-Modified:
      - Wed, 25 Jan 2017 04:53:43 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-118.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '22279'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '2'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <?xml-stylesheet type="text/xsl" charset="UTF-8" href="/xslt/basketball/nba/standings-v2.0.xsl"?>
        <!-- Generation started @ 2017-01-25 04:53:43 +0000 -->
        <league xmlns="http://feed.elasticstats.com/schema/basketball/nba/standings-v2.0.xsd" id="4353138d-4c22-4396-95d8-5f587d2df25c" name="NBA" alias="NBA">
          <season id="03241c9e-731b-40d0-a36f-bcc9932d055b" year="2016" type="REG">
            <conference id="3960cfac-7361-4b30-bc25-8d393de6f62f" name="EASTERN CONFERENCE" alias="EASTERN">
              <division id="54dc7348-c1d2-40d8-88b3-c4c0138e085d" name="Southeast" alias="SOUTHEAST">
                <team id="583ecb8f-fb46-11e1-82cb-f4ce4684ea4c" name="Hawks" market="Atlanta" wins="26" losses="19" win_pct="0.578" points_for="102.98" points_against="102.8" point_diff="0.18">
                  <games-behind league="12.0" conference="5.0" division="0.0"/>
                  <streak>
                    <loss length="1"/>
                  </streak>
                  <records>
                    <atlantic wins="7" losses="3" win_pct="0.7"/>
                    <below_500 wins="14" losses="10" win_pct="0.583"/>
                    <central wins="8" losses="2" win_pct="0.8"/>
                    <conference wins="19" losses="9" win_pct="0.679"/>
                    <division wins="4" losses="4" win_pct="0.5"/>
                    <home wins="13" losses="9" win_pct="0.591"/>
                    <last_10 wins="7" losses="3" win_pct="0.7"/>
                    <last_10_home wins="6" losses="4" win_pct="0.6"/>
                    <last_10_road wins="8" losses="2" win_pct="0.8"/>
                    <northwest wins="2" losses="4" win_pct="0.333"/>
                    <over_500 wins="12" losses="9" win_pct="0.571"/>
                    <overtime wins="2" losses="0" win_pct="1.0"/>
                    <pacific wins="1" losses="5" win_pct="0.167"/>
                    <road wins="13" losses="10" win_pct="0.565"/>
                    <southeast wins="4" losses="4" win_pct="0.5"/>
                    <southwest wins="4" losses="1" win_pct="0.8"/>
                    <ten_points wins="11" losses="10" win_pct="0.524"/>
                    <three_points wins="5" losses="4" win_pct="0.556"/>
                  </records>
                </team>
                <team id="583ec8d4-fb46-11e1-82cb-f4ce4684ea4c" name="Wizards" market="Washington" wins="25" losses="20" win_pct="0.556" points_for="106.56" points_against="105.71" point_diff="0.84">
                  <games-behind league="13.0" conference="6.0" division="1.0"/>
                  <streak>
                    <win length="2"/>
                  </streak>
                  <records>
                    <atlantic wins="7" losses="3" win_pct="0.7"/>
                    <below_500 wins="12" losses="8" win_pct="0.6"/>
                    <central wins="7" losses="5" win_pct="0.583"/>
                    <conference wins="18" losses="13" win_pct="0.581"/>
                    <division wins="4" losses="5" win_pct="0.444"/>
                    <home wins="19" losses="6" win_pct="0.76"/>
                    <last_[...]
