---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/ncaamb-t3/games/29111b80-992d-4e32-a88d-220fb4bd3121/pbp.xml?api_key=<NCAAMB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"f08263ddd37509260e8590dfb46af0ef"'
      Last-Modified:
      - Sun, 22 Jan 2017 00:37:07 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-118.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '108'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <?xml-stylesheet type="text/xsl" charset="UTF-8" href="/xslt/basketball/pbp-v2.0.xsl"?>
        <!-- Generation started @ 2017-01-22 00:37:05 +0000 -->
        <game xmlns="http://feed.elasticstats.com/schema/basketball/pbp-v2.0.xsd" id="29111b80-992d-4e32-a88d-220fb4bd3121" status="closed" coverage="full" neutral_site="false" home_team="ec0d6b67-4b16-4b50-92b2-1a651dae6b0f" away_team="9b166a3f-e64b-4825-bb6b-92c6f0418263" scheduled="2017-01-21T21:00:00+00:00" conference_game="true" attendance="13659" lead_changes="6" times_tied="5" possession_arrow="9b166a3f-e64b-4825-bb6b-92c6f0418263" clock="00:00" half="2">
          <scoring>
            <home name="Bruins" market="UCLA" id="ec0d6b67-4b16-4b50-92b2-1a651dae6b0f" points="85" bonus="true" remaining_timeouts="1"/>
            <away name="Wildcats" market="Arizona" id="9b166a3f-e64b-4825-bb6b-92c6f0418263" points="96" double_bonus="true" remaining_timeouts="1"/>
          </scoring>
          <half id="480c3486-b6ab-4291-8f8f-54cd24ed7a88" number="1" sequence="1">
            <scoring>
              <home name="Bruins" market="UCLA" id="ec0d6b67-4b16-4b50-92b2-1a651dae6b0f" points="37"/>
              <away name="Wildcats" market="Arizona" id="9b166a3f-e64b-4825-bb6b-92c6f0418263" points="48"/>
            </scoring>
            <events>
              <event id="3e09e007-3fec-4b88-a7ea-66eb64c6406e" event_type="opentip" clock="20:00" updated="2017-01-21T21:13:54+00:00">
                <description>Lauri Markkanen vs. Thomas Welsh (Wildcats gains possession)</description>
                <attribution name="Wildcats" market="Arizona" id="9b166a3f-e64b-4825-bb6b-92c6f0418263" team_basket="right"/>
                <location coord_x="557" coord_y="305"/>
                <possession name="Wildcats" market="Arizona" id="9b166a3f-e64b-4825-bb6b-92c6f0418263"/>
              </event>
              <event id="4607bd07-d15f-4b58-ad5a-275d94f3dc52" event_type="twopointmade" clock="19:45" updated="2017-01-21T21:13:49+00:00">
                <description>Kadeem Allen makes two point layup (Kobi Simmons assists)</description>
                <attribution name="Wildcats" market="Arizona" id="9b166a3f-e64b-4825-bb6b-92c6f0418263" team_basket="right"/>
                <location coord_x="1010" coord_y="327"/>
                <possession name="Bruins" market="UCLA" id="ec0d6b67-4b16-4b50-92b2-1a651dae6b0f"/>
                <statistics>
                  <fieldgoal made="true" shot_type="layup" points="2">
                    <team name="Wildcats" market="Arizona" id="9b166a3f-e64b-4825-bb6b-92c6f0418263"/>
                    <player full_name="Kadeem Allen" jersey_number="5" id="f7cbc993-f98b-4ac3-8584-5bd54f8e3cc3"/>
                  </fieldgoal>
                  <assist>
                    <team name="Wildcats" market="Arizona" id="9b166a3f-e64b-4825-bb6b-92c6f0418263"/>
                    <player full_name="Kobi Simmons" jersey_number="2" id="0cfead49-485d-44f2-8991-04260ee896ad"/>
                  </assist>
                </statistics>
              </event>
              <event id="3896db3c-a5d5-483e-9072-7dcaa2a6a3f4" event_type="threepointmiss" clock="19:31" updated="2017-01-21T21:14:01+00:00">
                <description>Bryce Alford misses three poi[...]
