---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/ncaamb-t3/games/29111b80-992d-4e32-a88d-220fb4bd3121/summary.xml?api_key=<NCAAMB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"d259453cd437da4d97f32aff38482cb2"'
      Last-Modified:
      - Sun, 22 Jan 2017 00:37:06 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-115.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '106'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <?xml-stylesheet type="text/xsl" charset="UTF-8" href="/xslt/basketball/summary-v2.0.xsl"?>
        <!-- Generation started @ 2017-01-22 00:37:03 +0000 -->
        <game xmlns="http://feed.elasticstats.com/schema/basketball/game-v2.0.xsd" id="29111b80-992d-4e32-a88d-220fb4bd3121" status="closed" coverage="full" neutral_site="false" home_team="ec0d6b67-4b16-4b50-92b2-1a651dae6b0f" away_team="9b166a3f-e64b-4825-bb6b-92c6f0418263" scheduled="2017-01-21T21:00:00+00:00" conference_game="true" attendance="13659" lead_changes="6" times_tied="5" possession_arrow="9b166a3f-e64b-4825-bb6b-92c6f0418263" clock="00:00" half="2">
          <venue id="e7547c99-c087-4245-b039-19dc1f8df1b0" name="Pauley Pavilion" capacity="13800" address="301 Westwood Plaza" city="Los Angeles" state="CA" zip="90095" country="USA"/>
          <team name="Bruins" market="UCLA" id="ec0d6b67-4b16-4b50-92b2-1a651dae6b0f" points="85" rank="3" bonus="true" remaining_timeouts="1" home="true">
            <scoring>
              <half number="1" sequence="1" points="37"/>
              <half number="2" sequence="2" points="48"/>
            </scoring>
            <statistics minutes="3:20:00" field_goals_made="32" field_goals_att="71" field_goals_pct="45.1" three_points_made="10" three_points_att="31" three_points_pct="32.3" two_points_made="22" two_points_att="40" two_points_pct="55.0" blocked_att="1" free_throws_made="11" free_throws_att="14" free_throws_pct="78.6" offensive_rebounds="9" defensive_rebounds="22" rebounds="31" assists="18" turnovers="6" steals="4" blocks="6" assists_turnover_ratio="3.0" personal_fouls="19" ejections="0" foulouts="0" points="85" fast_break_pts="8" paint_pts="32" second_chance_pts="24" team_turnovers="0" points_off_turnovers="13" team_rebounds="2" flagrant_fouls="0" player_tech_fouls="0" team_tech_fouls="0" coach_tech_fouls="0"/>
            <players>
              <player full_name="Alex Olesinski" first_name="Alex" last_name="Olesinski" position="F" primary_position="NA" jersey_number="0" id="12772d83-c1c7-4deb-9536-90fa3f381229" active="true">
                <statistics minutes="00:00" field_goals_made="0" field_goals_att="0" field_goals_pct="0.0" three_points_made="0" three_points_att="0" three_points_pct="0.0" two_points_made="0" two_points_att="0" two_points_pct="0.0" blocked_att="0" free_throws_made="0" free_throws_att="0" free_throws_pct="0.0" offensive_r[...]
