---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nba-t3/teams/583ec8d4-fb46-11e1-82cb-f4ce4684ea4c/profile.xml?api_key=<NBA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"2834273a36449172d5e01ad63c4afb83"'
      Last-Modified:
      - Sun, 15 Jan 2017 16:32:34 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-121.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '22283'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Generation started @ 2017-01-15 16:32:34 +0000 -->
        <team xmlns="http://feed.elasticstats.com/schema/basketball/team-v2.0.xsd" id="583ec8d4-fb46-11e1-82cb-f4ce4684ea4c" name="Wizards" alias="WAS" market="Washington" founded="1961">
          <venue id="f62d5b49-d646-56e9-ba60-a875a00830f8" name="Verizon Center" capacity="20356" address="601 F St. N.W." city="Washington" state="DC" zip="20004" country="USA"/>
          <hierarchy>
            <league id="4353138d-4c22-4396-95d8-5f587d2df25c" name="NBA" alias="NBA"/>
            <conference id="3960cfac-7361-4b30-bc25-8d393de6f62f" name="EASTERN CONFERENCE" alias="EASTERN"/>
            <division id="54dc7348-c1d2-40d8-88b3-c4c0138e085d" name="Southeast" alias="SOUTHEAST"/>
          </hierarchy>
          <coaches>
            <coach id="4a31f2c1-6387-4bb0-8698-cadb83ea6e74" full_name="Scott Brooks" first_name="Scott" last_name="Brooks" position="Head Coach" experience="6"/>
          </coaches>
          <players>
            <player id="14dee36c-97c6-4668-8f4e-2833967e6ada" status="ACT" full_name="Danuel House" first_name="Danuel" last_name="House" abbr_name="D.House" height="79" weight="215" position="F" primary_position="SF" jersey_number="4" experience="0" college="Texas A&amp;M" birth_place="Fresno, TX, USA" birthdate="1993-06-07" updated="2016-10-21T14:39:43+00:00">
              <injuries>
                <injury id="ffac8276-1664-4525-9367-c826d9420bdf" comment="House will be re-evaluated in 10 days, according to CSN Mid-Atlantic." desc="Wrist" status="Out" start_date="2017-01-09" update_date="2017-01-09"/>
              </injuries>
            </player>
            <player id="25c4a949-c310-4bd3-af3f-10441215b323" status="ACT" full_name="Markieff Morris" first_name="Markieff" last_name="Morris" abbr_name="M.Morris" height="82" weight="245" position="F" primary_position="PF" jersey_number="5" experience="5" college="Kansas" birth_place="Philadelphia, PA, USA" birthdate="1989-09-02" updated="2016-10-21T14:41:50+00:00">
              <draft team_id="583ecfa8-fb46-11e1-82cb-f4ce4684ea4c" year="2011" round="1" pick="13"/>
            </player>
            <player id="572261e2-8ad9-4198-969d-16cad41fdef3" status="ACT" full_name="Trey Burke" first_name="Trey" last_name="Burke" abbr_name="T.Burke" height="73" weight="191" position="G" primary_position="PG" jersey_number="33" experience="3" college="Michigan" birth_place="Columbus, OH, USA" birthdate="1992-11-12" updated="2016-10-21T14:37:33+00:00">
              <draft team_id="583eca2f[...]
