---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nba-t3/seasontd/2016/reg/teams/583ec8d4-fb46-11e1-82cb-f4ce4684ea4c//statistics.xml?api_key=<NBA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-127.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '22277'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Generation started @ 2017-01-25 02:53:39 +0000 -->
        <season xmlns="http://feed.elasticstats.com/schema/basketball/statistics-v2.0.xsd" id="03241c9e-731b-40d0-a36f-bcc9932d055b" year="2016" type="REG">
          <team id="583ec8d4-fb46-11e1-82cb-f4ce4684ea4c" name="Wizards" market="Washington">
            <team_records>
              <overall>
                <total games_played="45" minutes="10875.0" field_goals_made="1836" field_goals_att="3871" three_points_made="384" three_points_att="1046" blocked_att="189" free_throws_made="739" free_throws_att="940" offensive_rebounds="454" defensive_rebounds="1461" assists="1043" turnovers="649" steals="384" blocks="176" personal_fouls="957" tech_fouls="41" points="4795" fast_break_pts="681" paint_pts="2002" flagrant_fouls="3" points_off_turnovers="757" second_chance_pts="598" ejections="1" foulouts="4" free_throws_pct="0.786" two_points_pct="0.514" three_points_pct="0.367" field_goals_pct="0.474" rebounds="1915" assists_turnover_ratio="1.61" two_points_made="1452" two_points_att="2825"/>
                <average second_chance_pts="13.29" points_off_turnovers="16.82" paint_pts="44.49" fast_break_pts="15.13" points="106.6" blocked_att="4.2" turnovers="14.42" free_throws_att="20.89" field_goals_att="86.02" off_rebounds="10.09" two_points_att="62.78" assists="23.2" blocks="3.91" personal_fouls="21.27" two_points_made="32.27" flagrant_fouls="0.07" rebounds="42.56" three_points_made="8.53" minutes="241.7" def_rebounds="32.47" free_throws_made="16.42" field_goals_made="40.8" steals="8.53" three_points_att="23.24"/>
              </overall>
              <opponents>
                <total games_played="45" minutes="10875.0" field_goals_made="1751" field_goals_att="3787" three_points_made="448" three_points_att="1221" blocked_att="176" free_throws_made="807" free_throws_att="1073" offensive_rebounds="466" defensive_rebounds="1434" assists="1035" turnovers="697" steals="342" blocks="189" personal_fouls="883" tech_fouls="33" points="4757" fast_break_pts="543" paint_pts="1888" flagrant_fouls="3" points_off_turnovers="731" second_chance_pts="586" ejections="1" foulouts="7" free_throws_pct="0.752" two_points_pct="0.508" three_points_pct="0.367" field_goals_pct="0.462" rebounds="1900" assists_turnover_ratio="1.48" two_points_made="1303" two_points_att="2566"/>
                <average second_chance_pts="13.02" points_off_turnovers="16.24" paint_pts="41.96" fast_break_pts="12.07" points="105.7" blocked_att="3.91" turnovers="15.49" free_throws_att="23.84" field_goals_att="84.16" off_rebounds="10.36" two_points_att="57.02" assists="23.0" blocks="4.2" personal_fouls="19.62" two_points_made="28.96" flagrant_fouls="0.07" rebounds="42.22" three_points_made="9.96" minutes="241.7" def_rebounds="31.87" free_throws_made="17.93" field_goals_made="38.91" steals="7.6" three_points_att="27.13"/>
              </opponents>
            </team_records>
            <player_records>
              <player id="7992dce6-a785-4b31-9655-abd5a6f028f0" full_name="Jason Smith" first_name="Jason" last_name="Smith" position="F-C" primary_position="PF" jersey_number="14">
                <overall>
                  <total games_played="43" games_started="0" minutes="544.0" field_goals_made="90" field_goals_att="172" three_points_made="7" three_points_att="14" blocked_att="7" free_throws_made="18" free_throws_att="24" offensive_rebounds="37" defensive_rebounds="86" assists="16" turnovers="35" steals="12" bl[...]
