---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nba-p3/seasontd/2016/reg/teams/583ec8d4-fb46-11e1-82cb-f4ce4684ea4c/statistics.xml?api_key=nexfrwh853qqh45grhfcs2fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"0613b530f952b8328ac02e4c8e17838c"'
      Last-Modified:
      - Tue, 24 Jan 2017 03:13:41 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-125.mashery.com
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '910000'
      X-Plan-Quota-Current:
      - '281455'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Generation started @ 2017-01-24 03:13:37 +0000 -->
        <season xmlns="http://feed.elasticstats.com/schema/basketball/statistics-v2.0.xsd" id="03241c9e-731b-40d0-a36f-bcc9932d055b" year="2016" type="REG">
          <team id="583ec8d4-fb46-11e1-82cb-f4ce4684ea4c" name="Wizards" market="Washington">
            <team_records>
              <overall>
                <total games_played="44" minutes="10635.0" field_goals_made="1788" field_goals_att="3788" three_points_made="375" three_points_att="1026" blocked_att="186" free_throws_made="721" free_throws_att="919" offensive_rebounds="447" defensive_rebounds="1426" assists="1022" turnovers="633" steals="377" blocks="172" personal_fouls="939" tech_fouls="39" points="4672" fast_break_pts="658" paint_pts="1952" flagrant_fouls="3" points_off_turnovers="738" second_chance_pts="584" ejections="1" foulouts="4" free_throws_pct="0.785" two_points_pct="0.512" three_points_pct="0.365" field_goals_pct="0.472" rebounds="1873" assists_turnover_ratio="1.61" two_points_made="1413" two_points_att="2762"/>
                <average second_chance_pts="13.27" points_off_turnovers="16.77" paint_pts="44.36" fast_break_pts="14.95" points="106.2" blocked_att="4.23" turnovers="14.39" free_throws_att="20.89" field_goals_att="86.09" off_rebounds="10.16" two_points_att="62.77" assists="23.2" blocks="3.91" personal_fouls="21.34" two_points_made="32.11" flagrant_fouls="0.07" rebounds="42.57" three_points_made="8.52" minutes="241.7" def_rebounds="32.41" free_throws_made="16.39" field_goals_made="40.64" steals="8.57" three_points_att="23.32"/>
              </overall>
              <opponents>
                <total games_played="44" minutes="10635.0" field_goals_made="1713" field_goals_att="3703" three_points_made="438" three_points_att="1188" blocked_att="172" free_throws_made="785" free_throws_att="1049" offensive_rebounds="458" defensive_rebounds="1410" assists="1011" turnovers="683" steals="332" blocks="186" personal_fouls="863" tech_fouls="33" points="4649" fast_break_pts="526" paint_pts="1848" flagrant_fouls="3" points_off_turnovers="712" second_chance_pts="575" ejections="1" foulouts="7" free_throws_pct="0.748" two_points_pct="0.507" three_points_pct="0.369" field_goals_pct="0.463" rebounds="1868" assists_turnover_ratio="1.48" two_points_made="1275" two_points_att="2515"/>
                <average second_chance_pts="13.07" points_off_turnovers="16.18" paint_pts="42.0" fast_break_pts="11.95" points="105.7" blocked_att="3.91" turnovers="15.52" free_throws_att="23.84" field_goals_att="84.16" off_rebounds="10.41" two_points_att="57.16" assists="23.0" blocks="4.23" personal_fouls="19.61" two_points_made="28.98" flagrant_fouls="0.07" rebounds="42.45" three_points_made="9.95" minutes="241.7" def_rebounds="32.05" free_throws_made="17.84" field_goals_made="38.93" steals="7.55" three_points_att="27.0"/>
              </opponents>
            </team_records>
            <player_records>
              <player id="7992dce6-a785-4b31-9655-abd5a6f028f0" full_name="Jason Smith" first_name="Jason" last_name="Smith" position="F-C" primary_position="PF" jersey_number="14">
                <overall>
                  <total games_played="42" games_started="0" minutes="530.0" field_goals_made="89" field_goals_att="170" three_points_made="7" three_points_att="14" blocked_att="6" free_throws_made="17" free_throws_att="22" offensive_rebounds="36" defensive_rebounds="84" assists="15" turnovers="35" steals="12" bl[...]
