---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/teams/3d08af9e-c767-4f88-a7dc-b920c6d2b4a8/profile.json?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ce5f708539017ce97b16a2cecb736dcc"'
      Last-Modified:
      - Sun, 09 Jul 2017 23:23:04 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '138'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: '{"name":"Seahawks","market":"Seattle","alias":"SEA","id":"3d08af9e-c767-4f88-a7dc-b920c6d2b4a8","franchise":{"id":"a52ddba9-4709-4b76-8b1b-d9561607f7ec","name":"Seahawks","alias":"SEA","references":[{"id":"26","origin":"gsis"}]},"venue":{"id":"c6b9e5df-c9e4-434c-b3e6-83928f11cbda","name":"CenturyLink
        Field","city":"Seattle","state":"WA","country":"USA","zip":"98134","address":"800
        Occidental Avenue South","capacity":67000,"surface":"artificial","roof_type":"outdoor"},"division":{"id":"390d000d-9949-42e6-bf5e-b166dc463675","name":"NFC
        West","alias":"NFC_WEST"},"conference":{"id":"b1808e5f-d40b-47c0-8af8-5175c0fdcd26","name":"NFC","alias":"NFC"},"references":[{"id":"SEA","origin":"gsis"}],"coaches":[{"id":"8c74ff3b-c121-4d2c-9387-34f5900208a9","full_name":"Pete
        Carroll","first_name":"Pete","last_name":"Carroll","position":"Head Coach"},{"id":"9ced877a-4463-4e65-8e39-46aedbcc8fc3","full_name":"Kris
        Richard","first_name":"Kris","last_name":"Richard","position":"Defensive Coordinator"},{"id":"d3b4bac9-4037-4eb2-9b40-c913b85dc49c","full_name":"Darrell
        Bevell","first_name":"Darrell","last_name":"Bevell","position":"Offensive
        Coordinator"}],"players":[{"name":"Kyle Coleman","jersey":"49","last_name":"Coleman","first_name":"Kyle","abbr_name":"K.Coleman","preferred_name":"Kyle","birth_date":"1993-09-30","weight":220.0,"height":74,"id":"0105886c-9f70-4600-b0c4-bb2a8efc5e9b","position":"FB","birth_place":"Pine
        Bluff, AR, USA","high_school":"Watson Chapel (AR)","college":"Arkansas-Pine
        Bluff","college_conf":"Southwestern Athletic Conference","rookie_year":2016,"status":"A01","references":[{"id":"00-0033086","origin":"gsis"},{"id":"44069","origin":"nflx"}]},{"name":"Eddie
        Lacy","jersey":"27","last_name":"Lacy","first_name":"Eddie","abbr_name":"E.Lacy","preferred_name":"Eddie","birth_date":"1990-06-02","weight":234.0,"height":71,"id":"030f508b-be11-478e-bf68-d21e70fcff7b","position":"RB","birth_place":"Geismar,
        LA, USA","high_school":"Dutchtown (LA)","college":"Alabama","college_conf":"Southeastern
        Conference","rookie_year":2013,"status":"A01","draft":{"year":2013,"round":2,"number":61,"team":{"name":"Packers","market":"Green
        Bay","alias":"GB","id":"a20471b4-a8d9-40c7-95ad-90cc30e46932"}},"references":[{"id":"00-0030485","origin":"gsis"},{"id":"40009","origin":"nflx"}]},{"name":"Michael
        Wilhoite","jersey":"57","last_name":"Wilhoite","first_name":"Michael","abbr_name":"M.Wilhoite","preferred_name":"Michael","birth_date":"1986-12-07","weight":240.0,"height":72,"id":"044457c1-cdcf-482d-868a-02ced974782b","position":"ILB","birth_place":"Topeka,
        KS, USA","high_scho[...]
