---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/seasontd/2016/reg/teams/3d08af9e-c767-4f88-a7dc-b920c6d2b4a8/statistics.json?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"432dba6ae2fb51f332446d4b5c545228"'
      Last-Modified:
      - Thu, 01 Jun 2017 20:47:14 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-128.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '142'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: '{"id":"3d08af9e-c767-4f88-a7dc-b920c6d2b4a8","name":"Seahawks","market":"Seattle","season":{"id":"49037b4f-71c4-4e4d-8963-4f9b83e0b4bc","year":2016,"type":"REG","name":"REG"},"record":{"games_played":16,"touchdowns":{"pass":23,"rush":13,"total_return":1,"total":37,"fumble_return":1,"int_return":0,"kick_return":0,"punt_return":0,"other":0},"rushing":{"avg_yards":3.948,"attempts":403,"touchdowns":13,"tlost":46,"tlost_yards":-117,"yards":1591,"longest":75,"longest_touchdown":75,"redzone_attempts":17},"receiving":{"targets":548,"receptions":368,"avg_yards":12.016,"yards":4422,"touchdowns":23,"yards_after_catch":1837,"longest":59,"longest_touchdown":57,"redzone_targets":30,"air_yards":2585},"punts":{"attempts":72,"yards":3126,"net_yards":2830,"blocked":1,"touchbacks":3,"inside_20":26,"return_yards":236,"avg_net_yards":39.859,"avg_yards":44.028,"longest":64},"punt_returns":{"avg_yards":8.3,"returns":30,"yards":249,"longest":62,"touchdowns":0,"longest_touchdown":0,"faircatches":28},"penalties":{"penalties":117,"yards":970},"passing":{"attempts":567,"completions":368,"cmp_pct":64.903,"interceptions":12,"sack_yards":298,"rating":93,"touchdowns":23,"avg_yards":7.273,"yards":4124,"sacks":42,"longest":59,"longest_touchdown":57,"air_yards":2589,"redzone_attempts":33,"gross_yards":4422},"misc_returns":{"returns":2,"yards":4,"touchdowns":0,"longest_touchdown":0,"blk_fg_touchdowns":0,"blk_punt_touchdowns":0,"fg_return_touchdowns":0,"ez_rec_touchdowns":0},"kickoffs":{"kickoffs":87,"endzone":12,"inside_20":9,"return_yards":654,"returned":0,"touchbacks":54,"yards":5542,"out_of_bounds":0},"kick_returns":{"avg_yards":23.086,"returns":35,"yards":808,"longest":46,"touchdowns":0,"longest_touchdown":0,"faircatches":0},"interceptions":{"interceptions":11,"return_yards":72,"returned":11},"int_returns":{"avg_yards":6.545,"returns":11,"yards":72,"longest":31,"touchdowns":0,"longest_touchdown":0},"fumbles":{"fumbles":22,"lost_fumbles":6,"own_rec":13,"own_rec_yards":-21,"opp_rec":8,"opp_rec_yards":75,"out_of_bounds":3,"forced_fumbles":16,"own_rec_tds":0,"opp_rec_tds":1,"ez_rec_tds":0},"first_downs":{"pass":203,"penalty":25,"rush":85,"total":313},"field_goals":{"attempts":37,"made":33,"blocked":1,"yards":1117,"avg_yards":31.028,"longest":53},"extra_points":{"kicks":{"attempts":35,"blocked":5,"made":29},"conversions":{"pass_attempts":2,"pass_successes":1,"rush_attempts":0,"rush_successes":0,"defense_attempts":0,"defense_successes":0,"turnover_successes":0}},"efficiency":{"goaltogo":{"attempts":29,"successes":17,"pct":58.621},"redzone":{"attempts":56,"successes":26,"pct":46.429},"thirddown":{"attempts":207,"successes":79,"pct":38.164},"fourthdown":{"attempts":11,"successes":4,"pct":36.364}},"defense":{"tackles":560,"assists":424,"combined":984,"sacks":42.0,"sack_yards":272.0,"interceptions":11,"passes_defended":70,"forced_fumbles":14,"fumble_recoveries":8,"qb_hits":103,"tloss":77.0,"tloss_yards":324.0,"safeties":1,"sp_tackles":51,"sp_assists":24,"sp_forced_fumbles":2,"sp_fumble_recoveries":0,"sp_blocks":3,"misc_tackles":15,"misc_assists":2,"misc_forced_fumbles":0,"misc_fumble_recoveries":13}},"opponents":{"games_played":16,"touchdowns":{"pass":16,"rush":16,"total_return":1,"total":33,"fumble_return":1,"int_return":0,"kick_return":0,"punt_return":0,"other":0},"rushing":{"avg_yards":3.372,"attempts":441,"touchdowns":16,"tlost":49,"tlost_yards":-126,"yards":1487,"longest":34,"longest_touchdown":19,"redzone_attempts":25},"receiving":{"targets":526,"receptions":331,"avg_yards":11.734,"yards":3884,"touchdowns":16,"yards_after_catch":1652,"longest":80,"longest_touchdown":80,"redzone_targets":23,"air_ya[...]
