---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-xt3/eu/en/tournaments/sr:tournament:17/leaders.json?api_key=agc2vm2evsz4hwhf3mh26dss
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"19c2429a017439c5f9cbb22d22fec75e"
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-128.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '310'
      X-Sbe:
      - berilia_prod_web2
      X-Srv:
      - berilia-prod-varnish1.ch.sportradar.ag
      X-Version-Instance:
      - "/current"
    body:
      encoding: UTF-8
      string: '{"generated_at":"2017-10-24T18:40:31+00:00","schema":"http:\/\/schemas.sportradar.com\/bsa\/soccer\/v1\/json\/endpoints\/soccer\/tournament_leaders.json","tournament":{"id":"sr:tournament:17","name":"Premier
        League","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:1","name":"England","country_code":"ENG"},"current_season":{"id":"sr:season:40942","name":"Premier
        League 17\/18","start_date":"2017-08-11","end_date":"2018-05-14","year":"17\/18"}},"season_coverage_info":{"season_id":"sr:season:40942","scheduled":381,"played":90,"max_coverage_level":"platinum","max_covered":90,"min_coverage_level":"platinum"},"top_points":[{"goals":7,"assists":3,"rank":1,"player":{"id":"sr:player:17094","name":"Aguero,
        Sergio"},"team":{"id":"sr:competitor:17","name":"Manchester City","abbreviation":"MAN"}},{"goals":7,"assists":2,"rank":2,"player":{"id":"sr:player:78893","name":"Lukaku,
        Romelu"},"team":{"id":"sr:competitor:35","name":"Manchester United","abbreviation":"MAN"}},{"goals":8,"assists":1,"rank":2,"player":{"id":"sr:player:108579","name":"Kane,
        Harry"},"team":{"id":"sr:competitor:33","name":"Tottenham Hotspur","abbreviation":"TOT"}},{"goals":5,"assists":4,"rank":2,"player":{"id":"sr:player:293519","name":"Sane,
        Leroy"},"team":{"id":"sr:competitor:17","name"[...]
