---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-xt3/eu/en/tournaments/sr:tournament:17/live_standings.json?api_key=agc2vm2evsz4hwhf3mh26dss
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2ecd04c5ed6febce229902d9fd25fc86"
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '170'
      X-Sbe:
      - berilia_prod_web4
      X-Srv:
      - berilia-prod-varnish2.ch.sportradar.ag
      X-Version-Instance:
      - "/current"
    body:
      encoding: UTF-8
      string: '{"generated_at":"2017-10-23T18:07:27+00:00","schema":"http:\/\/schemas.sportradar.com\/bsa\/soccer\/v1\/json\/endpoints\/soccer\/tournament_live_standings.json","tournament":{"id":"sr:tournament:17","name":"Premier
        League","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:1","name":"England","country_code":"ENG"},"current_season":{"id":"sr:season:40942","name":"Premier
        League 17\/18","start_date":"2017-08-11","end_date":"2018-05-14","year":"17\/18"}},"season":{"id":"sr:season:40942","name":"Premier
        League 17\/18","start_date":"2017-08-11","end_date":"2018-05-14","year":"17\/18","tournament_id":"sr:tournament:17"},"standings":[{"tie_break_rule":"In
        the event that two (or more) teams have an equal number of points, the following
        rules break the tie:\r\n1. Goal difference\r\n2. Goals scored","type":"total","groups":[{"team_standings":[{"team":{"id":"sr:competitor:17","name":"Manchester
        City"},"rank":1,"current_outcome":"Champions League","played":9,"win":8,"draw":1,"loss":0,"goals_for":32,"goals_against":4,"goal_diff":28,"points":25},{"team":{"id":"sr:competitor:35","name":"Manchester
        United"},"rank":2,"current_outcome":"Champions League","played":9,"win":6,"draw":2,"loss":1,"goals_for":22,"goals_against":4,"goal_diff":18,"points":20},{"team":{"id":"sr:competitor:33","name":"Tottenham
        Hotspur"},"rank":3,"current_outcome":"Champions League","played":9,"win":6,"draw":2,"loss":1,"goals_for":19,"goals_against":6,"goal_diff":13,"points":20},{"team":{"id":"sr:competitor:38","name":"Chelsea
        FC"},"rank":4[...]
