---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-xt3/eu/en/tournaments/sr:tournament:17/results.json?api_key=agc2vm2evsz4hwhf3mh26dss
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ab1d3c71fb6d5f1677ee077400d6209f"
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-126.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '66'
      X-Sbe:
      - berilia_prod_web2
      X-Srv:
      - berilia-prod-varnish1.ch.sportradar.ag
      X-Version-Instance:
      - "/current"
    body:
      encoding: UTF-8
      string: '{"generated_at":"2017-10-06T22:05:13+00:00","schema":"http:\/\/schemas.sportradar.com\/bsa\/soccer\/v1\/json\/endpoints\/soccer\/tournament_results.json","tournament":{"id":"sr:tournament:17","name":"Premier
        League","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:1","name":"England","country_code":"ENG"}},"results":[{"sport_event":{"id":"sr:match:11828126","scheduled":"2017-08-11T18:45:00+00:00","start_time_tbd":false,"tournament_round":{"type":"group","number":1},"season":{"id":"sr:season:40942","name":"Premier
        League 17\/18","start_date":"2017-08-11","end_date":"2018-05-14","year":"17\/18","tournament_id":"sr:tournament:17"},"tournament":{"id":"sr:tournament:17","name":"Premier
        League","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:1","name":"England","country_code":"ENG"}},"competitors":[{"id":"sr:competitor:42","name":"Arsenal","country":"England","country_code":"ENG","abbreviation":"ARS","qualifier":"home"},{"id":"sr:competitor:31","name":"Leicester
        City","country":"England","country_code":"ENG","abbreviation":"LEI","qualifier":"away"}],"venue":{"id":"sr:venue:624","name":"Emirates
        Stadium","capacity":60272,"city_name":"London","country_name":"England","map_coordinates":"51.555050,-0.108046","country_code":"ENG"}},"sport_event_status":{"status":"closed","match_status":"ended","home_score":4,"away_score":3,"winner_id":"sr:competitor:42","period_scores":[{"home_score":2,"away_score":2,"type":"regular_period","number":1},{"home_score":2,"away_score":1,"type":"regular_period","number":2}]}},{"sport_event":{"id":"sr:match:11828148","scheduled":"2017-08-12T11:30:00+00:00","start_time_tbd":false,"tournament_round":{"type":"group","number":1},"season":{"id":"sr:season:40942","name":"Premier
        League 17\/18","start_date":"2017-08-11","end_date":"2018-05-14","year":"17\/18","tournament_id":"sr:tournament:17"},"tournament":{"id":"sr:tournament:17"[...]
