---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-xt3/eu/en/tournaments/sr:tournament:17/seasons.json?api_key=agc2vm2evsz4hwhf3mh26dss
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0618dbbe0c644cfc693f6fe19ff4ae5e"
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-113.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '39'
      X-Sbe:
      - berilia_prod_web3
      X-Srv:
      - berilia-prod-varnish2.ch.sportradar.ag
      X-Version-Instance:
      - "/current"
    body:
      encoding: UTF-8
      string: '{"generated_at":"2017-10-06T03:19:53+00:00","schema":"http:\/\/schemas.sportradar.com\/bsa\/soccer\/v1\/json\/endpoints\/soccer\/tournament_seasons.json","tournament":{"id":"sr:tournament:17","name":"Premier
        League","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:1","name":"England","country_code":"ENG"}},"seasons":[{"id":"sr:season:55","name":"Premier
        League 93\/94","start_date":"1993-08-14","end_date":"1994-05-08","year":"93\/94","tournament_id":"sr:tournament:17"},{"id":"sr:season:54","name":"Premier
        League 94\/95","start_date":"1994-08-20","end_date":"1995-05-14","year":"94\/95","tournament_id":"sr:tournament:17"},{"id":"sr:season:53","name":"Premier
        League 95\/96","start_date":"1995-08-19","end_date":"1996-05-04","year":"95\/96","tournament_id":"sr:tournament:17"},{"id":"sr:season:52","name":"Premier
        League 96\/97","start_date":"1996-08-17","end_date":"1997-05-11","year":"96\/97","tournament_id":"sr:tournament[...]
