---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/seasontd/2016/standings.json?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"34d4d72654a67319b0115c98155e4590"'
      Last-Modified:
      - Sun, 08 Jan 2017 11:54:39 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-119.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '147'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: '{"season":{"id":"49037b4f-71c4-4e4d-8963-4f9b83e0b4bc","year":2016,"type":"REG","name":"REG"},"week":{"id":"4e3e727d-528c-4c5a-a4aa-a254c2c88032","sequence":17,"title":"17"},"conferences":[{"id":"1bdefe12-6cb2-4d6a-b208-b04602ae79c3","alias":"AFC","name":"AFC","divisions":[{"id":"b95cd27d-d631-4fe1-bc05-0ae47fc0b14b","alias":"AFC_EAST","name":"AFC
        East","teams":[{"name":"Patriots","market":"New England","alias":"NE","id":"97354895-8c77-4fd4-a860-32e62ea7382a","wins":14,"losses":2,"ties":0,"win_pct":0.875,"points_for":441,"points_against":250,"points_rank":4,"touchdown_diff":24,"conf_h2h":0,"rank":{"conference":1,"division":1},"streak":{"type":"win","length":7,"desc":"Won
        7"},"strength_of_schedule":{"sos":0.439453,"wins":113,"total":256},"strength_of_victory":{"sov":0.424,"wins":95,"total":224},"records":[{"record":{"category":"afc","wins":11,"losses":1,"ties":0,"win_pct":0.917}},{"record":{"category":"conference","wins":11,"losses":1,"ties":0,"win_pct":0.917,"points_for":338,"points_against":171,"points_rank":2}},{"record":{"category":"division","wins":5,"losses":1,"ties":0,"win_pct":0.833,"points_for":170,"points_against":99}},{"record":{"category":"home","wins":6,"losses":2,"ties":0,"win_pct":0.75}},{"record":{"category":"nfc","wins":3,"losses":1,"ties":0,"win_pct":0.75}},{"record":{"category":"road","wins":8,"loss[...]
