---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/ncaamb-t3/games/2017/1/21/schedule.json?api_key=<NCAAMB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6f9663ea18412d194adde8175eb8206c"'
      Last-Modified:
      - Mon, 23 Jan 2017 02:20:04 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-127.mashery.com
      X-Packagekey-Quota-Allotted:
      - '1250'
      X-Packagekey-Quota-Current:
      - '17'
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: '{"date":"2017-01-21","league":{"id":"cd4268ee-07aa-4c4d-a435-ec44ad2c76cb","name":"NCAA
        MEN","alias":"NCAAM"},"games":[{"id":"bd82a49f-48fd-4138-bc56-ef1f942b9070","status":"closed","coverage":"full","scheduled":"2017-01-21T17:00:00+00:00","home_points":65,"away_points":64,"conference_game":true,"venue":{"id":"dd352ce9-3282-4d7b-862f-f406eb61aca6","name":"Louis
        Brown Athletic Center","capacity":8000,"address":"83 Rockafeller Road","city":"Piscataway","state":"NJ","zip":"8854","country":"USA"},"broadcast":{"network":"ESPNU","satellite":"208","internet":"WatchESPN"},"home":{"name":"Rutgers
        Scarlet Knights","alias":"RUTG","id":"b03bb029-4499-4a2c-9074-5071ed360b21"},"away":{"name":"Nebraska
        Cornhuskers","alias":"NEB","id":"f8b1bf00-5b73-4ac4-98c0-ec554027ae32"}},{"id":"fb087fa4-6bf3-49ff-b82a-5e1addc91c7c","status":"closed","coverage":"extended_boxscore","scheduled":"2017-01-21T17:00:00+00:00","home_points":82,"away_points":70,"conference_game":true,"venue":{"id":"8af089c8-7dc5-44a5-917c-fc0bb9040e0c","name":"Curb
        Event Center","capacity":5085,"address":"2002 Belmont Blvd","city":"Nashville","state":"TN","zip":"37212","country":"USA"},"broadcast":{[...]
