---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/ncaamb-t3/games/2016/reg/schedule.json?api_key=<NCAAMB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e8eab33c3474907988491113893cede4"'
      Last-Modified:
      - Sat, 28 Jan 2017 02:54:12 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-126.mashery.com
      X-Packagekey-Quota-Allotted:
      - '1250'
      X-Packagekey-Quota-Current:
      - '15'
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: '{"league":{"id":"cd4268ee-07aa-4c4d-a435-ec44ad2c76cb","name":"NCAA
        MEN","alias":"NCAAM"},"season":{"id":"a627bb7b-f311-455d-91a8-00a53093c2ac","year":2016,"type":"REG"},"games":[{"id":"4762636a-b591-4822-b22c-323f93bc857e","status":"closed","coverage":"extended_boxscore","scheduled":"2016-11-11T17:00:00+00:00","home_points":102,"away_points":64,"conference_game":false,"venue":{"id":"12d526ed-1fbf-4caf-bdf4-f4fceeb95d31","name":"Murphy
        Athletic Center","capacity":11520,"address":"2650 Middle Tennessee Blvd","city":"Murfreesboro","state":"TN","zip":"37132","country":"USA"},"home":{"name":"Middle
        Tennessee Blue Raiders","alias":"MTU","id":"3d2f0819-8f3b-4ff3-afd6-6227c469a751"},"away":{"name":"Milligan
        Buffalos","alias":"MILL","id":"f2ff8456-7a8d-427b-8418-4216b6f241bf"}},{"id":"76aea170-0d86-4c9b-b3f4-0955e697b529","status":"closed","coverage":"extended_boxscore","scheduled":"2016-11-11T18:00:00+00:00","home_points":84,"away_points":57,"conference_game":false,"venue":{"id":"c75510eb-181a-4213-a68c-2fdfd1525056","name":"Millett
        Hall","capacity":6400,"address":"500 East Sycamore Street","city":"Oxford","state":"OH","zip":"45056","country":"USA"},"broadcast":{"network":"ESPN3","internet":"WatchESPN"},"home":{"name":"Miami
        (OH) RedHawks","alias":"M-OH","id":"1165ca31-f181-4206-b727-c4e897e4b5cd"},"away":{"name":"Muskingum
        Fighting Muskies","alias":"MUSK","id":"781946f3-ab72-4a72-a56e-3b6a471ebe47"}},{"id":"8a6968e2-3184-43f1-bd5a-46a940a8a1c1","status":"closed","coverage":"extended_boxscore","scheduled":"2016-11-11T18:00:00+00:00","home_points":85,"away_points":60,"conference_game":false,"venue":{"id":"d6d410cc-784c-4f6f-8f4f-42277ab64e49","name":"Lundholm
       [...]
