---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/ncaamb-t3/seasontd/2016/reg/standings.json?api_key=<NCAAMB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2ab03b23ec6576b38fdc95b0499bb55b"'
      Last-Modified:
      - Sat, 28 Jan 2017 02:57:14 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-127.mashery.com
      X-Packagekey-Quota-Allotted:
      - '1250'
      X-Packagekey-Quota-Current:
      - '16'
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: '{"league":{"id":"cd4268ee-07aa-4c4d-a435-ec44ad2c76cb","name":"NCAA
        MEN","alias":"NCAAM"},"season":{"id":"a627bb7b-f311-455d-91a8-00a53093c2ac","year":2016,"type":"REG"},"conferences":[{"id":"db136c00-f45b-4af6-bc7d-ffff216f2e5d","name":"Atlantic
        10","alias":"A10","teams":[{"id":"632616c5-2dbb-4017-a449-c9dfc303f026","name":"Flyers","market":"Dayton","wins":15,"losses":4,"win_pct":0.789,"points_for":75.0,"points_against":63.53,"point_diff":11.47,"games_behind":{"conference":0.0},"streak":{"kind":"win","length":3},"records":[{"record_type":"a10","wins":6,"losses":1,"win_pct":0.857},{"record_type":"below_500","wins":2,"losses":0,"win_pct":1.0},{"record_type":"big10","wins":0,"losses":2,"win_pct":0.0},{"record_type":"bigsouth","wins":1,"losses":0,"win_pct":1.0},{"record_type":"conference","wins":6,"losses":1,"win_pct":0.857},{"record_type":"glvc","wins":1,"losses":0,"win_pct":1.0},{"record_type":"home","wins":11,"losses":1,"win_pct":0.917},{"record_type":"last_10","wins":8,"losses":2,"win_pct":0.8},{"record_type":"last_10_home","win[...]
