---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/games/0cb301fa-629d-4209-a8a6-9f76dfc695be/pbp.json?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ee642df532ca19c0f1d6cb073de85e2a"'
      Last-Modified:
      - Thu, 01 Jun 2017 19:01:24 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-129.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '122'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: '{"id":"0cb301fa-629d-4209-a8a6-9f76dfc695be","status":"closed","reference":"57046","number":146,"scheduled":"2016-11-14T01:30:00+00:00","attendance":66829,"utc_offset":-5,"entry_mode":"INGEST","weather":"Clear
        and cool Temp: 43 F, Humidity: 55%, Wind: SW 3 mph","clock":"00:00","quarter":4,"summary":{"season":{"id":"49037b4f-71c4-4e4d-8963-4f9b83e0b4bc","year":2016,"type":"REG","name":"REG"},"week":{"id":"0dbb3c9b-76f5-4a65-9ff2-d76f2a28c035","sequence":10,"title":"10"},"venue":{"id":"e43310b1-cb82-4df9-8be5-e9b39637031b","name":"Gillette
        Stadium","city":"Foxborough","state":"MA","country":"USA","zip":"02035","address":"One
        Patriot Place","capacity":68756,"surface":"artificial","roof_type":"outdoor"},"home":{"name":"Patriots","market":"New
        England","alias":"NE","reference":"4994","used_timeouts":3,"remaining_timeouts":0,"id":"97354895-8c77-4fd4-a860-32e62ea7382a","points":24},"away":{"name":"Seahawks","market":"Seattle","alias":"SEA","reference":"5003","used_timeouts":3,"remaining_timeouts":0,"id":"3d08af9e-c767-4f88-a7dc-b920c6d2b4a8","points":31}},"periods":[{"period_type":"quarter","id":"ef64475d-b84e-43af-8974-810e42e73b18","number":1,"sequence":1,"scoring":{"home":{"name":"Patriots","market":"New
        England","alias":"NE","reference":"4994","id":"97354895-8c77-4fd4-a860-32e62ea7382a","points":7},"away":{"name":"Seahawks","market":"Seattle","alias":"SEA","reference":"5003","id":"3d08af9e-c767-4f88-a7dc-b920c6d2b4a8","points":6}},"pbp":[{"type":"event","id":"ddc3f2a4-c5fc-4516-92c8-da47229c1aaf","sequence":1.0,"reference":"1","clock":"00:00","event_type":"setup","description":"GAME","alt_description":"GAME"},{"type":"drive","id":"a75880ec-560c-4e7e-b14c-69eb3e9af842","sequence":1,"start_reason":"Kickoff","end_reason":"Touchdown","play_count":9,"duration":"4:41","first_downs":6,"gain":66,"penalty_yards":9,"inside_20":true,"scoring_drive":true,"events":[{"type":"play","id":"574f0b9d-035f-4bf2-8f64-3b01811c76a7","sequence":37.0,"reference":"37","clock":"15:00","home_points":0,"away_points":0,"play_type":"kickoff","wall_clock":"2016-11-14T01:31:54+00:00","start_situation":{"clock":"15:00","down":0,"yfd":0,"possession":{"name":"Seahawks","market":"Seattle","alias":"SEA","reference":"5003","id":"3d08af9e-c767-4f88-a7dc-b920c6d2b4a8"},"location":{"name":"Seahawks","market":"Seattle","alias":"SEA","reference":"5003","id":"3d08af9e-c767-4f88-a7dc-b920c6d2b4a8","yardline":35}},"end_situation":{"clock":"15:00","down":1,"yfd":10,"possession":{"name":"Patriots","market":"New
        England","alias":"NE","reference":"4994","id":"97354895-8c77-4fd4-a860-32e62ea7382a"},"location":{"name":"Patriots","market":"New
        England","alias":"NE","reference":"4994","id":"97354895-8c77-4fd4-a860-32e62ea7382a","yardline":25}},"description":"4-S.Hauschka
        kicks 65 yards from SEA 35 to end zone, Touchback.","alt_description":"S.Hauschka
        kicks 65 yards from SEA 35 to end zone, Touchback.","statistics":[{"stat_type":"kick","attempt":1,"yards":65,"gross_yards":71,"touchback":1,"team":{"name":"Seahawks","market":"Seattle","alias":"SEA","reference":"5003","id":"3d08af9e-c767-4f88-a7dc-b920c6d2b4a8"},"player":{"name":"Steven
        Hauschka","jersey":"04","reference":"00-0025944","id":"40cda44b-2ee3-4ad1-834e-995e30db84d4","position":"K"}},{"stat_type":"return","touchback":1,"category":"kick_return","team":{"name":"Patriots","market":"New
        England","alias":"NE","reference":"4994","id":"97354895-8c77-4fd4-a860-32e62ea7382a"}}]},{"type":"play","id":"858ee6ce-94e2-469f-9e2b-30025fcb4c71","sequence":52.0,"reference":"52","clock":"15:00","home_points":0,"away_points":0,"play_type":"pass","play_clock":15,"wall_clock":"2016-11-14T01:32:32+00:00","start_situation":{"clock":"15:00","down":1,"yfd":10,"possession":{"name":"Patriots","market":"New
        England","alias":"NE","reference":"4994","id":"97354895-8c77-4fd4-a860-32e62ea7382a"},"location":{"name":"Patriots","market":"New
        England","alias":"NE","reference":"4994","id":"97354895-8c77-4fd4-a860-32e62ea7382a","yardline":25}},"end_situation":{"clock":"14:34","down":1,"yfd":10,"possession":{"name":"Patriots","market":"New
        England","alias":"NE","reference":"4994","id":"97354895-8c77-4fd4-a860-32e62ea7382a"},"location":{"name":"Patriots","market":"New
        England","alias":"NE","reference":"4994","id":"97354895-8c77-4fd4-a860-32e62ea7382a","yardline":38}},"description":"(15:00)
        (Shotgun) 12-T.Brady pass short left to 28-J.White pushed ob at NE 38 for
        13 yards (29-E.Thomas).","alt_description":"(15:00) (Shotgun) T.Brady pass
        short left to J.White pushed ob at NE 38 for 13 yards (E.Thomas).","statistics":[{"stat_type":"pass","attempt":1,"complete":1,"yards":13,"att_yards":-4,"firstdown":1,"inside_20":0,"goaltogo":0,"team":{"name":"Patriots","market":"New
        England","alias":"NE","reference":"4994","id":"97354895-8c77-4fd4-a860-32e62ea7382a"},"player":{"name":"Tom
        Brady","jersey":"12","reference":"00-0019596","id":"41c44740-d0f6-44ab-8347-3b5d515e5ecf","position":"QB"}},{"stat_type":"receive","firstdown":1,"target":1,"reception":1,"yards":13,"yards_after_catch":17,"inside_20":0,"goaltogo":0,"team":{"name":"Patriots","market":"New
        England","alias":"NE","reference":"4994","id":"97354895-8c77-4fd4-a860-32e62ea7382a"},"player":{"name":"James
        White","jersey":"28","reference":"00-0031062","id":"39f70428-a78a-494c-8676-438d953c289e","position":"RB"}},{"stat_type":"defense","tackle":1,"team":{"name":"Seahawks","market":"Seattle","alias":"SEA","reference":"5003","id":"3d08af9e-c767-4f88-a7dc-b920c6d2b4a8"},"player":{"name":"Earl
        Thomas","jersey":"29","reference":"00-0027866","id":"4094730d-a3ad-4c7e-a899-a3c8001748d9","position":"FS"}},{"stat_type":"first_down","category":"pass","team":{"name":"Patriots","market":"New
        England","alias":"NE","reference":"4994","id":"97354895-8c77-4fd4-a860-32e62ea7382a"}}]},{"type":"play","id":"17a8c3f3-61e0-48ba-89f0-b62389a36[...]
