---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-ot1/games/0cb301fa-629d-4209-a8a6-9f76dfc695be/statistics.json?api_key=<NFL_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6f5d7115672e741762c7549750dccca4"'
      Last-Modified:
      - Thu, 01 Jun 2017 19:01:20 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-127.mashery.com
      X-Packagekey-Quota-Allotted:
      - '30000'
      X-Packagekey-Quota-Current:
      - '121'
      X-Plan-Qps-Allotted:
      - '25'
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: UTF-8
      string: '{"id":"0cb301fa-629d-4209-a8a6-9f76dfc695be","status":"closed","reference":"57046","number":146,"scheduled":"2016-11-14T01:30:00+00:00","attendance":66829,"utc_offset":-5,"entry_mode":"INGEST","weather":"Clear
        and cool Temp: 43 F, Humidity: 55%, Wind: SW 3 mph","clock":"00:00","quarter":4,"summary":{"season":{"id":"49037b4f-71c4-4e4d-8963-4f9b83e0b4bc","year":2016,"type":"REG","name":"REG"},"week":{"id":"0dbb3c9b-76f5-4a65-9ff2-d76f2a28c035","sequence":10,"title":"10"},"venue":{"id":"e43310b1-cb82-4df9-8be5-e9b39637031b","name":"Gillette
        Stadium","city":"Foxborough","state":"MA","country":"USA","zip":"02035","address":"One
        Patriot Place","capacity":68756,"surface":"artificial","roof_type":"outdoor"},"home":{"name":"Patriots","market":"New
        England","alias":"NE","reference":"4994","used_timeouts":3,"remaining_timeouts":0,"id":"97354895-8c77-4fd4-a860-32e62ea7382a","points":24},"away":{"name":"Seahawks","market":"Seattle","alias":"SEA","reference":"5003","used_timeouts":3,"remaining_timeouts":0,"id":"3d08af9e-c767-4f88-a7dc-b920c6d2b4a8","points":31}},"statistics":{"home":{"name":"Patriots","market":"New
        England","alias":"NE","reference":"4994","id":"97354895-8c77-4fd4-a860-32e62ea7382a","summary":{"possession_time":"29:35","avg_gain":6.2,"safeties":0,"turnovers":2,"play_count":62,"rush_plays":28,"total_yards":385,"fumbles":3,"lost_fumbles":1,"penalties":7,"penalty_yards":61,"return_yards":8},"rushing":{"totals":{"avg_yards":2.9,"attempts":28,"touchdowns":3,"tlost":3,"tlost_yards":-6,"yards":81,"longest":13,"longest_touchdown":13,"redzone_attempts":5},"players":[{"name":"LeGarrette
        Blount","jersey":"29","reference":"00-0027325","id":"f5d20030-d934-45e3-8282-e34c6c83ad84","position":"RB","avg_yards":3.3,"attempts":21,"touchdowns":3,"yards":69,"longest":13,"longest_touchdown":13,"redzone_attempts":2,"tlost":3,"tlost_yards":-6},{"name":"Tom
        Brady","jersey":"12","reference":"00-0019596","id":"41c44740-d0f6-44ab-8347-3b5d515e5ecf","position":"QB","avg_yards":1.4,"attempts":5,"touchdowns":0,"yards":7,"longest":3,"longest_touchdown":0,"redzone_attempts":3,"tlost":0,"tlost_yards":0},{"name":"James
        White","jersey":"28","reference":"00-0031062","id":"39f70428-a78a-494c-8676-438d953c289e","position":"RB","avg_yards":2.5,"attempts":2,"touchdowns":0,"yards":5,"longest":3,"longest_touchdown":0,"redzone_attempts":0,"tlost":0,"tlost_yards":0}]},"receiving":{"totals":{"targets":32,"receptions":23,"avg_yards":13.739,"yards":316,"touchdowns":0,"yards_after_catch":149,"longest":36,"longest_touchdown":0,"redzone_targets":0,"air_yards":167},"players":[{"name":"James
        White","jersey":"28","reference":"00-0031062","id":"39f70428-a78a-494c-8676-438d953c289e","position":"RB","receptions":4,"targets":4,"yards":32,"avg_yards":8.0,"longest":13,"touchdowns":0,"longest_touchdown":0,"yards_after_catch":36,"redzone_targets":0,"air_yards":-4},{"name":"Rob
        Gronkowski","jersey":"87","reference":"00-0027656","id":"2142a164-48ad-47d6-bb27-0bc58c6b2e62","position":"TE","receptions":3,"targets":6,"yards":56,"avg_yards":18.7,"long[...]
