---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-xt3/eu/en/matches/sr:match:11854838/summary.json?api_key=agc2vm2evsz4hwhf3mh26dss
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"65ce37eab8a67101a2c6adc65203af95"
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-131.mashery.com
      X-Plan-Qps-Allotted:
      - '1'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '1000'
      X-Plan-Quota-Current:
      - '91'
      X-Sbe:
      - berilia_prod_web3
      X-Srv:
      - berilia-prod-varnish1.ch.sportradar.ag
      X-Version-Instance:
      - "/current"
    body:
      encoding: UTF-8
      string: '{"generated_at":"2017-10-10T22:22:26+00:00","schema":"http:\/\/schemas.sportradar.com\/bsa\/soccer\/v1\/json\/endpoints\/soccer\/match_summary.json","sport_event":{"id":"sr:match:11854838","scheduled":"2017-07-19T17:30:00+00:00","start_time_tbd":false,"tournament_round":{"type":"qualification","name":"cupqround","cup_round_match_number":2,"cup_round_matches":2,"other_match_id":"sr:match:11854798"},"season":{"id":"sr:season:41198","name":"UEFA
        Champions League 17\/18","start_date":"2017-06-27","end_date":"2018-05-27","year":"17\/18","tournament_id":"sr:tournament:7"},"tournament":{"id":"sr:tournament:7","name":"UEFA
        Champions League","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:393","name":"International
        Clubs"}},"competitors":[{"id":"sr:competitor:1284","name":"FC Copenhagen","country":"Denmark","country_code":"DNK","abbreviation":"FCC","qualifier":"home"},{"id":"sr:competitor:2402","name":"MSK
        Zilina","country":"Slovakia","country_code":"SVK","abbreviation":"ZIL","qualifier":"away"}],"venue":{"id":"sr:venue:936","name":"Parken","capacity":38065,"city_name":"Copenhagen","country_name":"Denmark","map_coordinates":"55.702712,12.572275","country_code":"DNK"}},"sport_event_conditions":{"referee":{"id":"sr:referee:137755","name":"Lardot,
        Jonathan","nationality":"Belgium"},"venue":{"id":"sr:venue:936","name":"Parken","capacity":38065,"city_name":"Copenhagen","country_name":"Denmark","map_coordinates":"55.702712,12.572275","country_code":"DNK"},"weather_info":{"pitch":"good","weather_conditions":"medium"}},"sport_event_status":{"status":"closed","match_status":"ended","home_score":1,"away_score":2,"winner_id":"sr:competitor:2402","aggregate_home_score":4,"aggregate_away_score":3,"aggregate_winner_id":"sr:competitor:1284","period_scores":[{"home_score":0,"away_score":1,"type":"regular_period","number":1},{"home_score":1,"away_score":1,"type":"regular_period","number":2}]}}'
  recorded_at: Tue, 10 Oct 2017 22:22:26 GMT
recorded_with: VCR 3.0.3
