---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/soccer-xt3/eu/en/matches/sr:match:11913998/timeline.json?api_key=agc2vm2evsz4hwhf3mh26dss
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bb11eb65ca6631a7a4e7f7c47b2c4496"
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-130.mashery.com
      X-Packagekey-Qps-Allotted:
      - '25'
      X-Packagekey-Qps-Current:
      - '1'
      X-Packagekey-Quota-Allotted:
      - '1050000'
      X-Packagekey-Quota-Current:
      - '68'
      X-Sbe:
      - berilia_prod_web4
      X-Srv:
      - berilia-prod-varnish2.ch.sportradar.ag
      X-Version-Instance:
      - "/current"
    body:
      encoding: UTF-8
      string: '{"generated_at":"2017-11-03T20:59:15+00:00","schema":"http:\/\/schemas.sportradar.com\/bsa\/soccer\/v1\/json\/endpoints\/soccer\/match_timeline.json","sport_event":{"id":"sr:match:11913998","scheduled":"2017-11-03T19:30:00+00:00","start_time_tbd":false,"tournament_round":{"type":"group","number":11},"season":{"id":"sr:season:41576","name":"Bundesliga
        17\/18","start_date":"2017-08-18","end_date":"2018-05-22","year":"17\/18","tournament_id":"sr:tournament:35"},"tournament":{"id":"sr:tournament:35","name":"Bundesliga","sport":{"id":"sr:sport:1","name":"Soccer"},"category":{"id":"sr:category:30","name":"Germany","country_code":"DEU"}},"competitors":[{"id":"sr:competitor:2674","name":"Eintracht
        Frankfurt","country":"Germany","country_code":"DEU","abbreviation":"SGE","qualifier":"home"},{"id":"sr:competitor:2534","name":"Werder
        Bremen","country":"Germany","country_code":"DEU","abbreviation":"SVW","qualifier":"away"}],"venue":{"id":"sr:venue:609","name":"Commerzbank
        Arena","capacity":51500,"city_name":"Frankfurt","country_name":"Germany","map_coordinates":"50.068779,8.646290","country_code":"DEU"}},"sport_event_conditions":{"referee":{"id":"sr:referee:102956","name":"Brand,
        Benjamin","nationality":"Germany"},"venue":{"id":"sr:venue:609","name":"Commerzbank
        Arena","capacity":51500,"city_name":"Frankfurt","country_name":"Germany","map_coordinates":"50.068779,8.646290","country_code":"DEU"},"weather_info":{"pitch":"good","weather_conditions":"medium"}},"sport_event_status":{"status":"live","match_status":"2nd_half","home_score":1,"away_score":1,"period":2,"clock":{"match_time":"70:10"},"period_scores":[{"home_score":1,"away_score":1,"type":"regular_period","number":1},{"home_score":0,"away_score":0,"type":"regular_period","number":2}],"ball_locations":[{"x":"15","y":"55","team":"away"},{"x":"15","y":"47","team":"away"},{"x":"14","y":"34","team":"away"},{"x":"15","y":"35","team":"away"}]},"coverage_info":{"level":"platinum","live_coverage":true,"coverage":{"basic_score":true,"key_events":true,"detailed_events":true,"lineups":true,"passes_and_duels":true,"commentary":true}},"timeline":[{"id":359554456,"type":"match_started","time":"2017-11-03T19:30:52+00:00","commentaries":[{"text":"The
        match has started at Commerzbank Arena."}]},{"id":359554454,"type":"period_start","time":"2017-11-03T19:30:52+00:00","period":1,"period_type":"regular_period","period_name":"1st
        half"},{"id":359554604,"type":"throw_in","time":"2017-11-03T19:31:10+00:00","commentaries":[{"text":"Throw-in
        for Werder Bremen close to the penalty box."}],"match_time":1,"team":"away","x":17,"y":2,"period":1,"period_type":"regular_period"},{"id":359554944,"type":"free_kick","time":"2017-11-03T19:31:59+00:00","commentaries":[{"text":"Free
        kick for Werder Bremen in their own half."}],"match_time":2,"team":"away","x":60,"y":33,"period":1,"period_type":"regular_period"},{"id":359555132,"type":"shot_saved","time":"2017-11-03T19:32:29+00:00","match_time":2,"team":"home","period":1,"period_type":"regular_period"},{"id":359555128,"type":"shot_on_target","time":"2017-11-03T19:32:29+00:00","commentaries":[{"text":"Werder
        Bremen''s Max Kruse gets in a shot on goal at Commerzbank Arena. But the effort
        is unsuccessful."}],"match_time":2,"player":{"id":"sr:player:26687","name":"Kruse,
        Max"},"team":"away","x":13,"y":66,"period":1,"period_type":"regular_period"},{"id":359555238,"type":"throw_in","time":"2017-11-03T19:32:43+00:00","commentaries":[{"text":"Benjamin
        Brand signals a throw-in for Werder Bremen, close to Werder Bremen''s area."}],"match_time":2,"team":"away","x":14,"y":3,"period":1,"period_type":"regular_period"},{"id":359555338,"type":"throw_in","time":"2017-11-03T19:32:59+00:00","commentaries":[{"text":"Throw-i[...]
